 <!--====== SLIDER PART START ======-->

 <!-- <ngx-slider [(value)]="value" [options]="options"></ngx-slider> -->
 <!-- <ng-image-slider [images]="imageObject" #nav></ng-image-slider> -->
 <!-- <ng-image-slider #nav
    [images]="imageObject"
    [infinite]="false"
    [autoSlide]="1"
    [imageSize]="{width: '25%', height: 200}"
    slideImage="1">
  </ng-image-slider> -->


  <section id="slider-part" class="slider-active">
    <div class="single-slider bg_cover pt-150" style="background-image: url(../../assets/image/slider.jpg)" data-overlay="4">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-9">
                    <div class="slider-cont">
                        <h1 data-animation="bounceInLeft" data-delay="1s">Tahaluf Training Centre</h1>
                        <p data-animation="fadeInUp" data-delay="1.3s">Donec vitae sapien ut libearo venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt  Sed fringilla mauri amet nibh.</p>
                        <ul>
                            <li><a data-animation="fadeInUp" data-delay="1.6s" class="main-btn" href="#">Read More</a></li>
                            <li><a data-animation="fadeInUp" data-delay="1.9s" class="main-btn main-btn-2" href="#">Get Started</a></li>
                        </ul>
                    </div>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- single slider -->

  </section>
<!--====== SLIDER PART ENDS ======-->


<!--====== ABOUT PART START ======-->

<section id="about-part" class="pt-65">
  <div class="container">
      <div class="row">
          <div class="col-lg-5">
              <div class="section-title mt-50">
                  <h5>About us</h5>
                  <h2>Welcome to Training Centre </h2>
              </div> <!-- section title -->
              <div class="about-cont">
                  <p>Lorem ipsum gravida nibh vel velit auctor aliquetn sollicitudirem quibibendum auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet . Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt  mauris. <br> <br> auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet . Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt  mauris</p>
                  <a href="#" class="main-btn mt-55">Learn More</a>
              </div>
          </div> <!-- about cont -->
          <div class="col-lg-6 offset-lg-1">
              <div class="about-event mt-50">
                  <div class="event-title">
                      <h3>Upcoming events</h3>
                  </div> <!-- event title -->
                  <ul>
                      <li>
                          <div class="singel-event">
                              <span><i class="fa fa-calendar"></i> 2 December 2018</span>
                              <a href="events-singel.html"><h4>Campus clean workshop</h4></a>
                              <span><i class="fa fa-clock-o"></i> 10:00 Am - 3:00 Pm</span>
                              <span><i class="fa fa-map-marker"></i> Rc Auditorim</span>
                          </div>
                      </li>
                      <li>
                          <div class="singel-event">
                              <span><i class="fa fa-calendar"></i> 2 December 2018</span>
                              <a href="events-singel.html"><h4>Tech Summit</h4></a>
                              <span><i class="fa fa-clock-o"></i> 10:00 Am - 3:00 Pm</span>
                              <span><i class="fa fa-map-marker"></i> Rc Auditorim</span>
                          </div>
                      </li>
                      <li>
                          <div class="singel-event">
                              <span><i class="fa fa-calendar"></i> 2 December 2018</span>
                              <a href="events-singel.html"><h4>Enviroement conference</h4></a>
                              <span><i class="fa fa-clock-o"></i> 10:00 Am - 3:00 Pm</span>
                              <span><i class="fa fa-map-marker"></i> Rc Auditorim</span>
                          </div>
                      </li>
                  </ul>
              </div> <!-- about event -->
          </div>
      </div> <!-- row -->
  </div> <!-- container -->
  <div class="about-bg">
      <img src="../../assets/image/bg-1.png" alt="About">
  </div>
</section>

<!--====== ABOUT PART ENDS ======-->


<!--====== COURSE PART START ======-->

<section id="course-part" class="pt-115 pb-120 gray-bg">
  <div class="container">
      <div class="row">
          <div class="col-lg-6">
              <div class="section-title pb-45">
                  <h5>Our course</h5>
                  <h2>Featured courses </h2>
              </div> <!-- section title -->
          </div>
      </div> <!-- row -->
      <!-- <div class="row course-slied mt-30">
        <app-course-card class="col-lg-4"></app-course-card>
        <app-course-card  class="col-lg-4"></app-course-card>
        <app-course-card  class="col-lg-4"></app-course-card>
        <app-course-card  class="col-lg-4"></app-course-card>
        <app-course-card  class="col-lg-4"></app-course-card>
        <app-course-card  class="col-lg-4"></app-course-card>
      </div> course slied -->
  </div> <!-- container -->
</section>

<!--====== COURSE PART ENDS ======-->

<!--====== TEACHERS PART START ======-->

<section id="teachers-part" class="pt-70 pb-120">
  <div class="container">
      <div class="row">
          <div class="col-lg-5">
              <div class="section-title mt-50">
                  <h5>Featured Trainers</h5>
                  <h2>Meet Our Trainers</h2>
              </div> <!-- section title -->
              <div class="teachers-cont">
                  <p>Lorem ipsum gravida nibh vel velit auctor aliquetn sollicitudirem quibibendum auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet . Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt  mauris. <br> <br> auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet . Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt  mauris</p>
                  <a href="#" class="main-btn mt-55">Career with us</a>
              </div> <!-- teachers cont -->
          </div>
          <div class="col-lg-6 offset-lg-1">
              <div class="teachers mt-20">
                  <div class="row">
                      <div class="col-sm-6">
                          <div class="singel-teachers mt-30 text-center">
                              <div class="image">
                                  <img src="../../assets/image/trainer/t-1.jpg" alt="Teachers">
                              </div>
                              <div class="cont">
                                  <a href="teachers-singel.html"><h6>Mark alen</h6></a>
                                  <span>Vice chencelor</span>
                              </div>
                          </div> <!-- singel teachers -->
                      </div>
                      <div class="col-sm-6">
                          <div class="singel-teachers mt-30 text-center">
                              <div class="image">
                                  <img src="../../assets/image/trainer/t-2.jpg" alt="Teachers">
                              </div>
                              <div class="cont">
                                  <a href="teachers-singel.html"><h6>David card</h6></a>
                                  <span>Pro chencelor</span>
                              </div>
                          </div> <!-- singel teachers -->
                      </div>
                      <div class="col-sm-6">
                          <div class="singel-teachers mt-30 text-center">
                              <div class="image">
                                  <img src="../../assets/image/trainer/t-3.jpg" alt="Teachers">
                              </div>
                              <div class="cont">
                                  <a href="teachers-singel.html"><h6>Rebeka alig</h6></a>
                                  <span>Pro chencelor</span>
                              </div>
                          </div> <!-- singel teachers -->
                      </div>
                      <div class="col-sm-6">
                          <div class="singel-teachers mt-30 text-center">
                              <div class="image">
                                  <img src="../../assets/image/trainer/t-4.jpg" alt="Teachers">
                              </div>
                              <div class="cont">
                                  <a href="teachers-singel.html"><h6>Hanna bein</h6></a>
                                  <span>Aerobics head</span>
                              </div>
                          </div> <!-- singel teachers -->
                      </div>
                  </div> <!-- row -->
              </div> <!-- teachers -->
          </div>
      </div> <!-- row -->
  </div> <!-- container -->
</section>

<!--====== TEACHERS PART ENDS ======-->





