
   
          <div class="wrap-table100">
              <div class="table100 ver2 m-b-110">
                  <div class="table100-head">
                      <table>
                          <thead>
                              <tr class="row100 head">
                                  <th class="cell100 column4">Title</th> 
                                  <th class="cell100 column1">File</th>   
                                                                   
                               
                            
                                  <th class="cell100 column5">  
                                      Delete unit
                                  </th>
                              </tr>
                          </thead>
                      </table>
                  </div>
                  <div class="table100-body js-pscroll">
                      <table>
                          <tbody *ngFor="let data of unitService.units">
                              <tr>
                                  <td class="cell100 column2 fancy-link" >{{data.title}}</td>
                                  <td class="cell100 column1 fancy-link" (click)="OpenPdf(data.filePath, data.fileType)">{{data.title}}</td>
                                 
                                  <td class="cell100 column5 fancy-link">   <mat-icon class="pointer fancy-link" (click)="deleteUnit(data.id)">delete</mat-icon></td>   
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
    
          </div>
    
              
    


     <!--===============================================================================================-->
     <script src="../../../assets/jquery/jquery-3.2.1.min.js "></script>
     <!--===============================================================================================-->
     <script src="../../../assets/bootstrap/js/popper.js "></script>
     <script src="../../../assets/bootstrap/js/bootstrap.min.js "></script>
     <!--===============================================================================================-->
     <!--===============================================================================================-->
    
     <!--===============================================================================================-->
     <script src="../../../assets/js/main.js "></script>



