




<div class="container" >
  <div class="row">

    <mat-dialog-content class="mat-typography">
    <div class="col mb-2">
      <img src="../../../assets/image/bg-2.jpg" alt="" width="200" height="100">

    </div>
    <div class="col">

      <div class="row">
        <div class="col">


            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Course Name</mat-label>
              <input type="text" matInput formControlName="courseName">
              <mat-error *ngIf="formGroup.controls.courseName.hasError('required')">
                Course Name is <strong>required</strong>
              </mat-error>
            </mat-form-field>


        </div>
        <div class="col">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Course Price</mat-label>
            <input type="number" matInput formControlName="coursePrice">
            <mat-error *ngIf="formGroup.controls.coursePrice.hasError('required')">
              Course Price is <strong>required</strong>
            </mat-error>
          </mat-form-field>

        </div>
      </div>

      <div class="row">
        <div class="col">


            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Course Name</mat-label>
              <input type="text" matInput formControlName="passMark">
              <mat-error *ngIf="formGroup.controls.passMark.hasError('required')">
                Pass Mark is <strong>required</strong>
              </mat-error>
            </mat-form-field>


        </div>
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Category</mat-label>
            <mat-select formControlName="categoryId">
                <mat-option *ngFor="let category of this.categoryService.category" [value]="category.categoryId">
                    {{category.name}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="formGroup.controls.categoryId.hasError('required')">
              Category is <strong>required</strong>
            </mat-error>
          </mat-form-field>

        </div>
      </div>

      <div class="row">
        <div class="col">


          <mat-form-field appearance="fill">
            <mat-label>Category</mat-label>
            <mat-select formControlName="categoryId">
                <mat-option *ngFor="let category of this.categoryService.category" [value]="category.categoryId">
                    {{category.name}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="formGroup.controls.categoryId.hasError('required')">
              Category is <strong>required</strong>
            </mat-error>
          </mat-form-field>


        </div>
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Category</mat-label>
            <mat-select formControlName="categoryId">
                <mat-option *ngFor="let category of this.categoryService.category" [value]="category.categoryId">
                    {{category.name}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="formGroup.controls.categoryId.hasError('required')">
              Category is <strong>required</strong>
            </mat-error>
          </mat-form-field>

        </div>
      </div>

      <div class="row">
        <div class="col">


          <mat-form-field appearance="fill">
            <mat-label>Category</mat-label>
            <mat-select formControlName="categoryId">
                <mat-option *ngFor="let category of this.categoryService.category" [value]="category.categoryId">
                    {{category.name}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="formGroup.controls.categoryId.hasError('required')">
              Category is <strong>required</strong>
            </mat-error>
          </mat-form-field>


        </div>
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Category</mat-label>
            <mat-select formControlName="categoryId">
                <mat-option *ngFor="let category of this.categoryService.category" [value]="category.categoryId">
                    {{category.name}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="formGroup.controls.categoryId.hasError('required')">
              Category is <strong>required</strong>
            </mat-error>
          </mat-form-field>

        </div>
      </div>
    </div>

  </mat-dialog-content>
  </div>
</div>

