
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

				<div class="row">
					<div class="table-wrap">
						<table class="table">
						  <thead class="thead-dark">
						    <tr>
						      <th class="col-2">First Name</th>
						      <th class="col-1">Last Name</th>
						      <th class="col-1">Email</th>
						      <th class="col-1">edit</th>
                  <th class="col-1">Delete</th>
                  <th class="col-1">Answers</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr class="alert" role="alert">
						      <td class="col-2">Title</td>
						      <td class="col-1">DeadLine</td>
						      <td class="col-1">Mark</td>
						      <td class="col-1">
                    edit
				        	</td>
                  <td class="col-1">
                    Delete
				        	</td>
                  <td class="col-1">
                    Students Answers
				        	</td>
						    </tr>
						  </tbody>
						</table>
					</div>
				</div>
	<script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>

