
  
   
  <div class="wrap-table100">
	<div class="table100 ver2 m-b-110">
		<div class="table100-head">
			<table>
				<thead>
					<tr class="row100 head">
						<th class="cell100 column4">Title</th> 
						<th class="cell100 column2">Dead Line</th>   
						<th class="cell100 column2">Student Answers</th>   
						<th class="cell100 column2">Delete task</th>   

					</tr>
				</thead>
			</table>
		</div>
		<div class="table100-body js-pscroll">
			<table>
				<tbody *ngFor="let data of sections.tasks">
					<tr>
						<td class="cell100 column4 fancy-link" >{{data.taskTitle}}</td>
						<td class="cell100 column2 fancy-link" >{{data.deadline}}</td>

						<td class="cell100 column2 fancy-link" (click)="GetSolution()"><button class="btn btn-outline-primary" >
							Get Answers
						  </button></td>
					   
						<td class="cell100 column2 fancy-link" (click)="Deletetask(data.taskId)">     <button class="btn btn-outline-danger">
							Delete
						  </button></td>   
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</div>

	



<!--===============================================================================================-->
<script src="../../../assets/jquery/jquery-3.2.1.min.js "></script>
<!--===============================================================================================-->
<script src="../../../assets/bootstrap/js/popper.js "></script>
<script src="../../../assets/bootstrap/js/bootstrap.min.js "></script>
<!--===============================================================================================-->
<!--===============================================================================================-->

<!--===============================================================================================-->
<script src="../../../assets/js/main.js "></script>



