<footer id="footer-part">
  <div class="footer-top pt-40 pb-30">
      <div class="container">
          <div class="row">
              <div class="col-lg-4 col-md-6">
                  <div class="footer-about mt-40">
                      <div class="logo">
                          <a href="#"><img src="../../assets/image/tahaluf_logo.png" alt="Logo" height="70px" width="130px"></a>
                      </div>
                       <p>Technical questions about our services :<a href = "ClientSupport@tahaluf.ae">ClientSupport@tahaluf.ae</a><br>

                        Technical questions about ICA Smart Services :<a href = "ClientSupport@tahaluf.ae">cc@icaops.ae</a><br>

                         Any question about our services, solutions, or products :<a href = "ClientSupport@tahaluf.ae">businessdevelopment@tahaluf.ae</a><br>  </p>

                      <ul class="mt-20">
                          <li><a href="https://web.facebook.com/TahalufUAE" target="_blank"><i class="pi pi-facebook"></i></a></li>
                          <li><a href="https://twitter.com/TahalufUAE"><i class="pi pi-twitter"></i></a></li>
                          <li><a href="https://www.tahaluf.ae/ar/"><i class="pi pi-google"></i></a></li>
                          <li><a href="#"><i class="pi pi-github"></i></a></li>
                      </ul>
                  </div> <!-- footer about -->
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="footer-link mt-40">
                      <div class="footer-title pb-25">
                          <h6>Sitemap</h6>
                      </div>
                      <ul>
                          <li><a href="index-2.html"><i class="pi pi-angle-right"></i>Home</a></li>
                          <li><a href="about.html"><i class="pi pi-angle-right"></i>About us</a></li>
                          <li><a href="courses.html"><i class="pi pi-angle-right"></i>Courses</a></li>
                          <li><a href="shop.html"><i class="pi pi-angle-right"></i>Shop</a></li>
                          <li><a href="contact.html"><i class="pi pi-angle-right"></i>Contact</a></li>

                      </ul>

                  </div> <!-- footer link -->
              </div>
              <div class="col-lg-2 col-md-6 col-sm-6">
                  <div class="footer-link support mt-40">
                      <div class="footer-title pb-25">
                          <h6>Support</h6>
                      </div>
                      <ul>
                          <li><a href="#"><i class="pi pi-angle-right"></i>FAQS</a></li>
                          <li><a href="#"><i class="pi pi-angle-right"></i>Privacy</a></li>
                          <li><a href="#"><i class="pi pi-angle-right"></i>Policy</a></li>
                          <!-- <li><a href="#"><i class="pi pi-angle-right"></i>Support</a></li>
                          <li><a href="#"><i class="pi pi-angle-right"></i>Documentation</a></li> -->
                      </ul>
                  </div> <!-- support -->
              </div>
              <div class="col-lg-3 col-md-6">
                  <div class="footer-address mt-40">
                      <div class="footer-title pb-25">
                          <h6>Contact Us</h6>
                      </div>
                      <ul>
                          <li>
                              <div class="icon">
                                  <i class="pi pi-home"></i>
                              </div>
                              <div class="cont">
                                  <p>Abu Dhabi 3rd, 5th and 6th Floor, Al Bustan Offices, Rabdan St, Al Aman</p>
                              </div>
                          </li>
                          <li>
                              <div class="icon">
                                  <i class="pi pi-phone"></i>
                              </div>
                              <div class="cont">
                                <p><strong>Phone :</strong>+971 2 666 1 789</p>
                                <p><strong>Fax :</strong>+971 2 666 5 447</p>
                              </div>
                          </li>
                          <li>
                              <div class="icon">
                                  <i class="pi pi-envelope"></i>
                              </div>
                              <div class="cont">
                                <a href = "info@tahaluf.ae">info@tahaluf.ae</a>
                              </div>
                          </li>
                      </ul>
                  </div> <!-- footer address -->
              </div>
          </div> <!-- row -->
      </div> <!-- container -->
  </div> <!-- footer top -->

  <div class="footer-copyright pt-10 pb-25">
      <div class="container">
          <div class="row">
              <!-- <div class="col-md-8">
                  <div class="copyright text-md-left text-center pt-15">
                      <p><a target="_blank" href="https://www.templateshub.net">Templates Hub</a> </p>
                  </div>
              </div> -->
              <div class="col-md-3">
                  <div class="copyright text-md-left text-center pt-15">
                    <!-- <p>All right reserved &copy; {{year}}</p> -->

                  </div>
              </div>



          </div> <!-- row -->
      </div> <!-- container -->
  </div> <!-- footer copyright -->
</footer>
