
<app-trainee-nav></app-trainee-nav>
<div class="container">
  <div class="row">
  <div class="col-8">
    <div class="mm-survey">
      <div class="mm-survey-bottom">
        <div class="mm-survey-container">

          <div class="mm-survey-page active  border-right" data-page="1">
            <div class="mm-survery-content" *ngFor="let a of this.exam.QuestionAnswer;let i=index;">
              <div class="mm-survey-question" >
                <p>{{a.description}}</p>
              </div>
              <div class="mm-survey-item" >

                <input type="radio" id="{{a.correctAnswer}}" data-item="1" name="radio1" value="red"
                (change)="handleInput(a.correctAnswer)" />
                <label for="{{a.correctAnswer}}"><span></span><p>{{a.correctAnswer}}</p></label>
              </div>
              <div class="mm-survey-item" >

                <input type="radio" id="{{a.option1+1}}" data-item="1" name="radio1" value="red"
                (change)="handleInput(a.option1)" />
                <label for="{{a.option1+1}}"><span></span><p>{{a.option1}}</p></label>
              </div>
              <div class="mm-survey-item" >

                <input type="radio" id="{{a.option2+2}}" data-item="1" name="radio1" value="red"
                (change)="handleInput(a.option2)" />
                <label for="{{a.option2+2}}"><span></span><p>{{a.option2}}</p></label>
              </div>
              <div class="mm-survey-item" >

                <input type="radio" id="{{a.option3+3}}" data-item="1" name="radio1" value="red"
                (change)="handleInput(a.option3)" />
                <label for="{{a.option3+3}}"><span></span><p>{{a.option3}}</p></label>
              </div>
            </div>
            <div class="row">
              <button class="col-3 offset-3 btn btn-outline-danger" (click)="Prevuois()">Previous</button>
              <button class="offset-1 col-3 btn btn-outline-success" (click)="Next()">Next</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-4">

<div class="container-fluid d-flex justify-content-center" style="margin-top: 25px;">
  <div class="card mt-5 p-3" style="width: 100%;" >
      <div class="media">
        <img width="90" height="90" src="https://image.freepik.com/free-vector/smiling-woman-checking-giant-check-list-background_23-2148086267.jpg" class="mr-3">
          <div class="media-body">
              <p class="mt-0 mb-1">Angular Exam</p>
              <h6>Final Exam Of Angular</h6>
          </div>
      </div>


      <hr>
      <div>

        <h5>
          Reminder Time
          <mat-icon>access_time</mat-icon>
        </h5>
        <div class="row">

<div class="offset-3 col-md-6">
<div class=" text-white">
  <button class="col-12 btn btn-outline-primary" (click)="FinshExam()">Submit</button>
</div>
</div>
        </div>
      </div>

  </div>
</div>
  </div>
 </div>
</div>
