
    <app-trainee-nav></app-trainee-nav>
<div class="container">
  <div class="row">
  <div class="col-8">
    <div class="mm-survey">
      <div class="mm-survey-bottom">
        <div class="mm-survey-container">

          <div class="mm-survey-page active  border-right" data-page="1">
            <div class="mm-survery-content">
              <div class="mm-survey-question">
                <p>Based on history... What is the ideal color for a Ferrari?</p>
              </div>
              <div class="mm-survey-item">
                <input type="radio" id="radio01" data-item="1" name="radio1" value="red" />
                <label for="radio01"><span></span><p>Red</p></label>
              </div>
              <div class="mm-survey-item">
                <input type="radio" id="radio02" data-item="1" name="radio1" value="blue" />
                <label for="radio02"><span></span><p>Blue</p></label>
              </div>
              <div class="mm-survey-item">
                <input type="radio" id="radio03" data-item="1" name="radio1" value="green" />
                <label for="radio03"><span></span><p>Green</p></label>
              </div>
              <div class="mm-survey-item">
                <input type="radio" id="radio04" data-item="1" name="radio1" value="purple" />
                <label for="radio04"><span></span><p>Purple</p></label>
              </div>
            </div>
            <div class="row">
              <button class="col-3 offset-3 btn btn-outline-danger">Previous</button>
              <button class="offset-1 col-3 btn btn-outline-success">Next</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-4">

<div class="container-fluid d-flex justify-content-center" style="margin-top: 25px;">
  <div class="card mt-5 p-3" style="width: 100%;" >
      <div class="media">
        <img width="90" height="90" src="https://image.freepik.com/free-vector/smiling-woman-checking-giant-check-list-background_23-2148086267.jpg" class="mr-3">
          <div class="media-body">
              <p class="mt-0 mb-1">Angular Exam</p>
              <h6>Final Exam Of Angular</h6>
          </div>
      </div>


      <hr>
      <div>

        <h5>
          Reminder Time
          <mat-icon>access_time</mat-icon>
        </h5>
        <div class="row">

<div class="col-md-3">
<div class="card bg-danger text-white">
<h3 class="card-title text-center">
<div class="d-flex flex-wrap justify-content-center mt-2">
<a><span class="badge hours">4 :</span></a>
<a><span class="badge min">27</span></a>
</div>
</h3>
</div>
</div>
        </div>
      </div>

  </div>
</div>
  </div>
 </div>
</div>
