.example-action-buttons {
    padding-bottom: 20px;
  }
  
  .example-headers-align .mat-expansion-panel-header-title,
  .example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }
  
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .example-headers-align .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
  .fancy-link {
    text-decoration: none;
    color: #ee6352;
    position: relative;
}

.fancy-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: currentColor;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right;
    transform-origin: right;
    transition: -webkit-transform 250ms ease-in;
    transition: transform 250ms ease-in;
    transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

.fancy-link:hover::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left;
    transform-origin: left;
}
  
  
  
  /* ****************************** */
  
  
  
  
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');
  .card-item {
    display: flex;
    /* justify-content: space-between; */
    /* border-right: 1px solid #dee2e6!important; */
  
  }
  
  .card-item img{
    border-radius: 5%;
    padding-right: 5px;
  
  }
  
  @media (max-width: 991.98px) {
    .card-item {
      border-right: none;
  
    }
  }
  
  mat-card{
    width: 50%;
  }
  
/* .card{
    display: flex;
} */
  
  /* mat-card{
    margin: 0.5rem!important;
  
  } */
  fa-icon{
    font-size: 1rem;
    color: #af1a2d;
    /* font-size: 20px; */
  }
  
  /* fa-icon:hover{
    border: 1px solid #af1a2d;
    font-size: 1.5rem;
  } */
  
  /* p-button{
    background-color:#0c8f39!important;
    border: none;
  
  } */

  
  .pointer{cursor: pointer;
    color: #af1a2d;
    transform: scale(2);
  }
  /* .add{
    background-color: #0c8f39;
    border: none;
    border-radius: 50%;
    width: 60px;
  } */
  /* .add i{
    color: #fff;
  } */
  div{position:relative;}
  .create{
    background-color:  #af1a2d;
  
  }
  .calender{
    min-width:85%;
              margin: 47px  10px 50px 0px;
              box-shadow: 2px 2px 10px #c21f1f7a;
              height:55%;
  }
  .mat-h6, .mat-typography h6{
    font-size: x-large !important;
  }
  .border {
    font-size: 1.6rem;
    display: grid;
    place-items: center;
    min-height: 200px;
    border: 8px solid;
    padding: 1rem;
 }
  .full {
    border-image: linear-gradient(45deg, turquoise, greenyellow) 1;
 }
  .sides {
    border-image: linear-gradient(to left, turquoise, greenyellow) 1 0;
 }
  .sides-2 {
    border-image: linear-gradient(to bottom, turquoise, greenyellow) 0 1;
 }
  .linear-repeating {
    border-width: 10px;
    border-image: repeating-linear-gradient(45deg, turquoise, pink 4%) 1;
 }
  .radial-repeating {
    border-width: 20px;
    border-image: repeating-radial-gradient(circle at 10px, turquoise, pink 2px, greenyellow 4px, pink 2px) 1;
 }
 /* border radius example is drawn from this pen: https://codepen.io/shshaw/pen/MqMZGR I've added a few comments on why we're using certain properties */
  .full-withradius {
    position: relative;
    background: #fff;
   /*The background extends to the outside edge of the padding. No background is drawn beneath the border.*/
    background-clip: padding-box;
    border: solid 8px transparent !important;
    border-radius: 0.8rem;
 }
  .full-withradius:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -8px;
   /* same as border width */
    border-radius: inherit;
   /* inherit container box's radius */
    background: linear-gradient(to left, rgb(64, 224, 163), rgb(236, 20, 67)) !important;
 }
  
  .card-content{
    max-width: 550px;
  }
  
  
  .button{
      background: #af1a2d!important;
      border:1px solid #af1a2d!important;
      cursor: pointer!important;
       
      /* color: #af1a2d!important; */
  }
  .course-card:hover{
    /* border:1px solid #af1a2d; */
    /* box-shadow: #af1a2d; */
    box-shadow: 2px 2px 10px #af1a2d52
    }
  
    mat-tab-body-content{
      display: flex!important;
    }
  
    /* course card */
  
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 70px 0;
   }
    .course-card {
      position: relative;
      overflow: hidden;
      background: #fff;
      border-radius: 25px;
      width: 100%;
      height: 300px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
      margin: 10px;
      transition: 0.25s ease-in-out;
   }
    .course-card-img {
      width: 100%;
      height: 225px;
      border-radius: 25px 25px 0px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
   }
    .course-card-img .main {
      height: 120px;
      width: 130px;
      object-fit: cover;
      z-index: 1;
      transition: 0.25s ease-in-out;
   }
    .course-card-img .layered {
      height: 120px;
      width: 130px;
      position: absolute;
      filter: blur(19px);
      transition: 0.25s ease-in-out;
   }
    .course-card-content {
      padding: 16px;
   }
    .course-card-content h4 {
      font-family: Ubuntu;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 16px;
      /* color: #af1a2d; */
     /* identical to box height */
      display: flex;
      align-items: center;
      text-align: center;
      color: rgba(0, 0, 0, 0.74);
   }
    .course-card-content h6 {
      font-family: Ubuntu;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
     /* identical to box height */
      display: flex;
      align-items: center;
      text-align: center;
      color: #af1a2d;
   }
    .course-card:hover {
      transform: scale(1.05);
   }
    .course-card:hover .course-card-img .main {
      transform: scale(1.1);
   }
    .course-card:hover .course-card-img .layered {
      filter: blur(19);
      transform: scale(1.5);
   }
  
  
  .type{
    background: #0c8f39;
    color: #fff;
    transform: rotate(-45deg);
    width: 114px;
    position: absolute;
    top: 15px;
    left: -26px;
    text-align: center;
    font-size: .6rem;
    padding: 5px;
  }
  
  /* .course-card:hover ::after{
  content: "";
  background-color: red;
  top:0;
  position: absolute;
  left: 0;
  } */
  
  .mat-tab-body-content {
    /* height: 100%; */
    overflow: none!important;
  }
  
  .mat-tab-group {
    margin-bottom: 48px;
  }
  #content h3{
    font-family: 'Open Sans', sans-serif;
    border-bottom: 1px solid #af1a2d;
  }
  
  
  /* .test{
    background-color: red;
    width: 100%;
    min-height: 50px;
  } */
  
  .wrapper{
    position: relative;
    z-index: 1;
  }
  
  
  /* #content{
    background-color: white;
  } */
  #content{
    background-color: white;
    height: 100%;
    border-radius: 5px;
    width: 100%;
    box-shadow: 2px 2px 10px #c21f1f7a;
    margin-left:3%

  }
  
  /* margin-top: 4
  rem */
  

  
  
  .example-action-buttons {
    padding-bottom: 20px;
  }
  
  .example-headers-align .mat-expansion-panel-header-title,
  .example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }
  
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .example-headers-align .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  


  /* Accordion with height 600px and panel content width of 400px each */
.mat-accordion2 {
  margin-top:290px;
  display: block;
  transform-origin: top left;
  transform: rotate(-90deg) translateX(-600px); /* rotate and position it; translateX value corresponds to panel height */
  width: 1000px; /* this will be the height of the accordion (inversed due to rotation) */
  height: 150px;
     margin-left:1.5%;
     margin-bottom: -165px;
     



}



.panel-content2 {
  transform-origin: top left;
  transform: rotate(90deg); /* rotate back */
  margin-left: 100%; /* position it */
  height: 1000px; /* real height of the content */
  width: 800px; /* real width of the content */
  box-shadow: 2px 2px 10px #c21f1f7a;
  margin-bottom: -175px;


}
