

        <div class="wrapper d-flex align-items-stretch"  style="background-color:#eee;">
          <app-trainer-side-bar></app-trainer-side-bar>


          <div class="container" >

              <div id="content" class="px-3 p-md-5 pt-5 mt-5">



              <div clas="card ">
<div class="card" style="text-align:center;">
                  <h1> Welcome</h1>
</div>
                  <ng-container  class="container">
                       <div class="row mt-5">

                      <!-- card start -->

                      <div class="col-md-12 mt-3"  *ngFor="let course of sectionService.TrainerSection; let i = index;">
                        <mat-accordion >

                          <div class="full-withradius border">
                            <img src="{{course.courseImage}}"  width="400" height="300" >
                          </div>

                          <mat-expansion-panel (opened)="panelOpenState = true"
                                               (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>

                              <mat-panel-title>
                                {{course.courseName}} - {{course.sectionTimeStart | date:'shortTime'}} - {{course.sectionTimeEnd | date:'shortTime'}}
                              </mat-panel-title>
                              <!-- <mat-panel-description>
                                Currently I am {{panelOpenState ? 'open' : 'closed'}}


                              </mat-panel-description> -->
                              <!-- <mat-icon class="mr-2">trash</mat-icon> -->

                            </mat-expansion-panel-header>
                           <!-- topic start -->

                            <ng-container class="mt-3">
                           <mat-accordion >
                            <!-- <ng-container  *ngIf="course.courseId == topic.courseId"> -->
                            <mat-expansion-panel>
                              <mat-expansion-panel-header>
                                <mat-panel-title>
                                Section Capacity
                                </mat-panel-title>


                              </mat-expansion-panel-header>
                              <div class="d-flex" style="justify-content: space-between;">
                                <p>Section Capacity is {{course.sectionCapacity}}</p>
                                <p>Current Trainees number is: {{course.traineeNumber}}</p>




                              </div>

                            </mat-expansion-panel>

                            <mat-expansion-panel>
                              <mat-expansion-panel-header (click)="ViewExam(course.sectionId)">
                                <mat-panel-title>
                                Exam
                                </mat-panel-title>


                              </mat-expansion-panel-header>
                              <div >
                                <app-exam [Sectionid]="course.sectionId"></app-exam>


                              </div>

                              <mat-icon class="pointer fancy-link"  (click)="CreateExam(course.sectionId)">add_circle</mat-icon>

                            </mat-expansion-panel>
                            <!-- </ng-container> -->

                            <mat-expansion-panel>
                              <mat-expansion-panel-header (click)="ViewUnit(course.sectionId)">
                                <mat-panel-title>
                                Unit
                                </mat-panel-title>


                              </mat-expansion-panel-header>
                              <div >
                                <app-unit [Sectionid]="course.sectionId"></app-unit>
                                  <div>
                                    <mat-icon class="pointer fancy-link"  (click)="AddUnit(course.sectionId)">add_circle</mat-icon>


                                  </div>

                              </div>

                            </mat-expansion-panel>
                            <mat-expansion-panel>
                              <mat-expansion-panel-header (click)="ViewTasks(course.sectionId)">
                                <mat-panel-title>
                                Tasks
                                </mat-panel-title>


                              </mat-expansion-panel-header>
                           
                                <app-task></app-task>


                              <mat-icon class="pointer fancy-link"  (click)="CreateTask(course.sectionId)">add_circle</mat-icon>

                            </mat-expansion-panel>
                             <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
          CreateLecture    
        </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p class="fancy-link" (click)="CreateMeeting(course.sectionId)">Click me to create a Lecture</p>
  </mat-expansion-panel>
                            <!-- </ng-container> -->
                          </mat-accordion>
                        </ng-container>
                           <!-- topic end -->

                          </mat-expansion-panel>

                        </mat-accordion>
                      </div>



                      <!-- card end -->
                  </div>
                  </ng-container>



              </div>







            </div>
            </div>
            </div>
          <!-- <p-paginator [rows]="10" [totalRecords]="120" [rowsPerPageOptions]="[10,20,30]"></p-paginator> -->



          <!-- </div>
        </div> -->


        <!-- p-card -->

