<div><app-trainer-side-bar></app-trainer-side-bar>
<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
    </div>
    <div class="row">
      <div class="col-md-12">

        <div class="table-wrap">
          <table class="table">
            <thead class="" style="background-color: #af1a2d; color: white;">
              <tr>

                <th>Num</th>

                <th>Trainee Name</th>
                <th>Is Present</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let s of sectionService.studentsAttendenceArray;let indexOfelement=index;">

                 <td>{{s.studentId}}</td>
                 <td>{{s.studentName}}</td>
                 <td>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox"
                    (click)="RegisterAttendence(indexOfelement,!s.isPresent)"
                    name="radio{{indexOfelement}}"
                         style="width: 80px; height: 30px; margin-left: -40px; margin-bottom: 18px;"
                    value="" id="flexCheckDefault">
                  </div>
                 </td>

              </tr>


              <tr>
                <button class="btn btn-outline-danger" (click)="SaveAttendence()">
                  Save Attendence
                </button>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
</div>


