<div class="wrapper d-flex align-items-stretch">
  <app-sidebar></app-sidebar>

  <!-- <p-paginator [rows]="10" [totalRecords]="120" [rowsPerPageOptions]="[10,20,30]"></p-paginator> -->
  <div id="content" class="p-4 p-md-5 pt-5">
    <div class="d-flex" style="justify-content:space-between;">
      <h2 class="mb-4">Manage Categories</h2>
      <!-- <button class="add"><i class="pi pi-plus" style="font-size: 2rem"></i></button>
      <button mat-fab color="primary">Warn</button> -->
      <button mat-fab color="primary" class="create" (click)="createCourse()" >
        <mat-icon>add</mat-icon>
      </button>
      <!-- <p-button icon="pi pi-plus" iconPos="right" class="p-button-success"></p-button> -->
      <!-- <button pButton pRipple type="button" label="Success" class="p-button-success"></button> -->
      <!-- <button pButton pRipple type="button" label="Create" class="p-button-rounded p-button-success"></button> -->

    </div>
  <div clas="card" style="display: flex;  flex-wrap: wrap;">
    <mat-card class="card-content" *ngFor ="let category of categoryService.category">
      <!-- <mat-card-title>{{category.name}}</mat-card-title> -->
      <!-- <mat-card-subtitle>End</mat-card-subtitle> -->
      <mat-card-content>

        <div class="card-item p-2">
          <img src="../../../assets/image/{{category.image}}" alt="" width="200" height="150">

         </div>

           <h3>{{category.name}}</h3>


      </mat-card-content>

      <mat-card-actions align="end">
        <button mat-button >Update</button>
        <!-- <fa-icon [icon]="faEdit" style="font-size: 2rem" ></fa-icon> -->
        <button mat-button (click)="deleteCategory(category.categoryId)">Delete</button>
      </mat-card-actions>
    </mat-card>

  </div>
  </div>


  </div>
