
LMS.Tahaluf.Core/obj/Debug/netcoreapp3.1/LMS.Tahaluf.Core.assets.cache
*.editorconfig
*.editorconfig
*.cache
*.cache
*.editorconfig
LMS.Tahaluf.Infra/obj/Debug/netcoreapp3.1/LMS.Tahaluf.Infra.GeneratedMSBuildEditorConfig.editorconfig
LMS.Tahaluf.Infra/obj/Debug/netcoreapp3.1/LMS.Tahaluf.Infra.csproj.AssemblyReference.cache
LMS.Tahaluf/obj/Debug/netcoreapp3.1/LMS.Tahaluf.csproj.AssemblyReference.cache
LMS.Tahaluf/obj/Debug/netcoreapp3.1/LMS.Tahaluf.GeneratedMSBuildEditorConfig.editorconfig
LMS.Tahaluf/obj/project.nuget.cache
LMS.Tahaluf/obj/project.assets.json
LMS.Tahaluf/obj/LMS.Tahaluf.csproj.nuget.g.targets
LMS.Tahaluf/obj/LMS.Tahaluf.csproj.nuget.g.props
LMS.Tahaluf/obj/LMS.Tahaluf.csproj.nuget.dgspec.json
LMS.Tahaluf/obj/Debug/netcoreapp3.1/LMS.Tahaluf.pdb
LMS.Tahaluf/obj/Debug/netcoreapp3.1/LMS.Tahaluf.genruntimeconfig.cache
LMS.Tahaluf/obj/Debug/netcoreapp3.1/LMS.Tahaluf.GeneratedMSBuildEditorConfig.editorconfig
LMS.Tahaluf/obj/Debug/netcoreapp3.1/LMS.Tahaluf.dll
LMS.Tahaluf/obj/Debug/netcoreapp3.1/LMS.Tahaluf.csproj.FileListAbsolute.txt
LMS.Tahaluf/obj/Debug/netcoreapp3.1/LMS.Tahaluf.csproj.CoreCompileInputs.cache
LMS.Tahaluf/obj/Debug/netcoreapp3.1/LMS.Tahaluf.csproj.AssemblyReference.cache
LMS.Tahaluf/obj/Debug/netcoreapp3.1/LMS.Tahaluf.assets.cache
LMS.Tahaluf/bin/Debug/netcoreapp3.1/LMS.Tahaluf.runtimeconfig.dev.json
LMS.Tahaluf/bin/Debug/netcoreapp3.1/LMS.Tahaluf.pdb
LMS.Tahaluf/bin/Debug/netcoreapp3.1/LMS.Tahaluf.Infra.pdb
LMS.Tahaluf/bin/Debug/netcoreapp3.1/LMS.Tahaluf.Infra.dll
LMS.Tahaluf/bin/Debug/netcoreapp3.1/LMS.Tahaluf.exe
LMS.Tahaluf/bin/Debug/netcoreapp3.1/LMS.Tahaluf.dll
LMS.Tahaluf/bin/Debug/netcoreapp3.1/LMS.Tahaluf.Core.pdb
LMS.Tahaluf/bin/Debug/netcoreapp3.1/LMS.Tahaluf.Core.dll
LMS.Tahaluf/.vs/LMS.Tahaluf/v16/.suo
LMS.Tahaluf.Infra/obj/project.nuget.cache
LMS.Tahaluf.Infra/obj/project.assets.json
LMS.Tahaluf.Infra/obj/LMS.Tahaluf.Infra.csproj.nuget.g.targets
LMS.Tahaluf.Infra/obj/LMS.Tahaluf.Infra.csproj.nuget.g.props
LMS.Tahaluf.Infra/obj/LMS.Tahaluf.Infra.csproj.nuget.dgspec.json
LMS.Tahaluf.Infra/obj/Debug/netcoreapp3.1/LMS.Tahaluf.Infra.pdb
LMS.Tahaluf.Infra/obj/Debug/netcoreapp3.1/LMS.Tahaluf.Infra.GeneratedMSBuildEditorConfig.editorconfig
LMS.Tahaluf.Infra/obj/Debug/netcoreapp3.1/LMS.Tahaluf.Infra.dll
LMS.Tahaluf.Infra/obj/Debug/netcoreapp3.1/LMS.Tahaluf.Infra.csproj.FileListAbsolute.txt
LMS.Tahaluf.Infra/obj/Debug/netcoreapp3.1/LMS.Tahaluf.Infra.csproj.CoreCompileInputs.cache
LMS.Tahaluf.Infra/obj/Debug/netcoreapp3.1/LMS.Tahaluf.Infra.csproj.AssemblyReference.cache
LMS.Tahaluf.Infra/obj/Debug/netcoreapp3.1/LMS.Tahaluf.Infra.assets.cache
LMS.Tahaluf.Infra/bin/Debug/netcoreapp3.1/LMS.Tahaluf.Infra.pdb
LMS.Tahaluf.Infra/bin/Debug/netcoreapp3.1/LMS.Tahaluf.Infra.dll
LMS.Tahaluf.Infra/bin/Debug/netcoreapp3.1/LMS.Tahaluf.Core.pdb
LMS.Tahaluf.Infra/bin/Debug/netcoreapp3.1/LMS.Tahaluf.Core.dll
LMS.Tahaluf.Core/obj/project.nuget.cache
LMS.Tahaluf.Core/obj/project.assets.json
LMS.Tahaluf.Core/obj/LMS.Tahaluf.Core.csproj.nuget.g.targets
LMS.Tahaluf.Core/obj/LMS.Tahaluf.Core.csproj.nuget.g.props
LMS.Tahaluf.Core/obj/LMS.Tahaluf.Core.csproj.nuget.dgspec.json
LMS.Tahaluf.Core/obj/Debug/netcoreapp3.1/LMS.Tahaluf.Core.pdb
LMS.Tahaluf.Core/obj/Debug/netcoreapp3.1/LMS.Tahaluf.Core.dll
LMS.Tahaluf.Core/obj/Debug/netcoreapp3.1/LMS.Tahaluf.Core.csproj.FileListAbsolute.txt
LMS.Tahaluf.Core/obj/Debug/netcoreapp3.1/LMS.Tahaluf.Core.csproj.AssemblyReference.cache
LMS.Tahaluf.Core/obj/Debug/netcoreapp3.1/LMS.Tahaluf.Core.assets.cache
LMS.Tahaluf.Core/bin/Debug/netcoreapp3.1/LMS.Tahaluf.Core.pdb
LMS.Tahaluf.Core/bin/Debug/netcoreapp3.1/LMS.Tahaluf.Core.dll
LMS.Tahaluf.Core/bin/Debug/netcoreapp3.1/LMS.Tahaluf.Core.dll
LMS.Tahaluf.Core/bin/Debug/netcoreapp3.1/LMS.Tahaluf.Core.pdb
LMS.Tahaluf.Core/obj/Debug/netcoreapp3.1/LMS.Tahaluf.Core.assets.cache
LMS.Tahaluf.Core/obj/Debug/netcoreapp3.1/LMS.Tahaluf.Core.csproj.FileListAbsolute.txt
LMS.Tahaluf.Core/obj/Debug/netcoreapp3.1/LMS.Tahaluf.Core.dll
LMS.Tahaluf.Core/obj/Debug/netcoreapp3.1/LMS.Tahaluf.Core.pdb
LMS.Tahaluf.Core/obj/LMS.Tahaluf.Core.csproj.nuget.dgspec.json
LMS.Tahaluf.Core/obj/LMS.Tahaluf.Core.csproj.nuget.g.props
LMS.Tahaluf.Core/obj/LMS.Tahaluf.Core.csproj.nuget.g.targets
LMS.Tahaluf.Core/obj/project.assets.json
LMS.Tahaluf.Core/obj/project.nuget.cache
LMS.Tahaluf.Infra/bin/Debug/netcoreapp3.1/LMS.Tahaluf.Core.dll
LMS.Tahaluf.Infra/bin/Debug/netcoreapp3.1/LMS.Tahaluf.Core.pdb
LMS.Tahaluf.Infra/bin/Debug/netcoreapp3.1/LMS.Tahaluf.Infra.dll
LMS.Tahaluf.Infra/bin/Debug/netcoreapp3.1/LMS.Tahaluf.Infra.pdb
LMS.Tahaluf.Infra/obj/Debug/netcoreapp3.1/LMS.Tahaluf.Infra.assets.cache
LMS.Tahaluf.Infra/obj/Debug/netcoreapp3.1/LMS.Tahaluf.Infra.csproj.AssemblyReference.cache
LMS.Tahaluf.Infra/obj/Debug/netcoreapp3.1/LMS.Tahaluf.Infra.csproj.CoreCompileInputs.cache
LMS.Tahaluf.Infra/obj/Debug/netcoreapp3.1/LMS.Tahaluf.Infra.csproj.FileListAbsolute.txt
LMS.Tahaluf.Infra/obj/Debug/netcoreapp3.1/LMS.Tahaluf.Infra.dll
LMS.Tahaluf.Infra/obj/Debug/netcoreapp3.1/LMS.Tahaluf.Infra.GeneratedMSBuildEditorConfig.editorconfig
LMS.Tahaluf.Infra/obj/Debug/netcoreapp3.1/LMS.Tahaluf.Infra.pdb
LMS.Tahaluf.Infra/obj/LMS.Tahaluf.Infra.csproj.nuget.dgspec.json
LMS.Tahaluf.Infra/obj/LMS.Tahaluf.Infra.csproj.nuget.g.props
LMS.Tahaluf.Infra/obj/LMS.Tahaluf.Infra.csproj.nuget.g.targets
LMS.Tahaluf.Infra/obj/project.assets.json
LMS.Tahaluf.Infra/obj/project.nuget.cache
LMS.Tahaluf/.vs/LMS.Tahaluf/v16/.suo
LMS.Tahaluf/bin/Debug/netcoreapp3.1/LMS.Tahaluf.Core.dll
LMS.Tahaluf/bin/Debug/netcoreapp3.1/LMS.Tahaluf.Core.pdb
LMS.Tahaluf/bin/Debug/netcoreapp3.1/LMS.Tahaluf.dll
LMS.Tahaluf/bin/Debug/netcoreapp3.1/LMS.Tahaluf.exe
LMS.Tahaluf/bin/Debug/netcoreapp3.1/LMS.Tahaluf.Infra.dll
LMS.Tahaluf/bin/Debug/netcoreapp3.1/LMS.Tahaluf.Infra.pdb
LMS.Tahaluf/bin/Debug/netcoreapp3.1/LMS.Tahaluf.pdb
LMS.Tahaluf/bin/Debug/netcoreapp3.1/LMS.Tahaluf.runtimeconfig.dev.json
LMS.Tahaluf/obj/Debug/netcoreapp3.1/LMS.Tahaluf.assets.cache
LMS.Tahaluf/obj/Debug/netcoreapp3.1/LMS.Tahaluf.csproj.AssemblyReference.cache
LMS.Tahaluf/obj/Debug/netcoreapp3.1/LMS.Tahaluf.csproj.CoreCompileInputs.cache
LMS.Tahaluf/obj/Debug/netcoreapp3.1/LMS.Tahaluf.csproj.FileListAbsolute.txt
LMS.Tahaluf/obj/Debug/netcoreapp3.1/LMS.Tahaluf.dll
LMS.Tahaluf/obj/Debug/netcoreapp3.1/LMS.Tahaluf.GeneratedMSBuildEditorConfig.editorconfig
LMS.Tahaluf/obj/Debug/netcoreapp3.1/LMS.Tahaluf.genruntimeconfig.cache
LMS.Tahaluf/obj/Debug/netcoreapp3.1/LMS.Tahaluf.pdb
LMS.Tahaluf/obj/LMS.Tahaluf.csproj.nuget.dgspec.json
LMS.Tahaluf/obj/LMS.Tahaluf.csproj.nuget.g.props
LMS.Tahaluf/obj/LMS.Tahaluf.csproj.nuget.g.targets
LMS.Tahaluf/obj/project.assets.json
LMS.Tahaluf/obj/project.nuget.cache
