
LMS.Tahaluf.Core/obj/Debug/netcoreapp3.1/LMS.Tahaluf.Core.csproj.AssemblyReference.cache
LMS.Tahaluf.Core/obj/Debug/netcoreapp3.1/LMS.Tahaluf.Core.csproj.FileListAbsolute.txt
LMS.Tahaluf.Infra/obj/Debug/netcoreapp3.1/LMS.Tahaluf.Infra.csproj.AssemblyReference.cache
LMS.Tahaluf/.vs/LMS.Tahaluf/v16/.suo
LMS.Tahaluf/bin/Debug/netcoreapp3.1/appsettings.Development.json
LMS.Tahaluf/bin/Debug/netcoreapp3.1/appsettings.json
LMS.Tahaluf/bin/Debug/netcoreapp3.1/Azure.Core.dll
LMS.Tahaluf/bin/Debug/netcoreapp3.1/Azure.Identity.dll
LMS.Tahaluf/bin/Debug/netcoreapp3.1/Dapper.dll
LMS.Tahaluf/bin/Debug/netcoreapp3.1/LMS.Tahaluf.Core.dll
LMS.Tahaluf/bin/Debug/netcoreapp3.1/LMS.Tahaluf.Core.pdb
LMS.Tahaluf/bin/Debug/netcoreapp3.1/LMS.Tahaluf.deps.json
LMS.Tahaluf/bin/Debug/netcoreapp3.1/LMS.Tahaluf.dll
LMS.Tahaluf/bin/Debug/netcoreapp3.1/LMS.Tahaluf.exe
LMS.Tahaluf/bin/Debug/netcoreapp3.1/LMS.Tahaluf.Infra.dll
LMS.Tahaluf/bin/Debug/netcoreapp3.1/LMS.Tahaluf.Infra.pdb
LMS.Tahaluf/bin/Debug/netcoreapp3.1/LMS.Tahaluf.pdb
LMS.Tahaluf/bin/Debug/netcoreapp3.1/LMS.Tahaluf.runtimeconfig.dev.json
LMS.Tahaluf/bin/Debug/netcoreapp3.1/LMS.Tahaluf.runtimeconfig.json
LMS.Tahaluf/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
LMS.Tahaluf/bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
LMS.Tahaluf/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
LMS.Tahaluf/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
LMS.Tahaluf/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
LMS.Tahaluf/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
LMS.Tahaluf/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.Extensions.Msal.dll
LMS.Tahaluf/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
LMS.Tahaluf/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
LMS.Tahaluf/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.dll
LMS.Tahaluf/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
LMS.Tahaluf/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
LMS.Tahaluf/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
LMS.Tahaluf/bin/Debug/netcoreapp3.1/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
LMS.Tahaluf/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
LMS.Tahaluf/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
LMS.Tahaluf/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
LMS.Tahaluf/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
LMS.Tahaluf/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
LMS.Tahaluf/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
LMS.Tahaluf/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
LMS.Tahaluf/bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
LMS.Tahaluf/bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
LMS.Tahaluf/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
LMS.Tahaluf/bin/Debug/netcoreapp3.1/System.Text.Encodings.Web.dll
LMS.Tahaluf/obj/Debug/netcoreapp3.1/LMS.Tahaluf.csproj.AssemblyReference.cache
LMS.Tahaluf/obj/Debug/netcoreapp3.1/LMS.Tahaluf.csproj.CopyComplete
LMS.Tahaluf/obj/Debug/netcoreapp3.1/LMS.Tahaluf.csproj.FileListAbsolute.txt
LMS.Tahaluf/obj/Debug/netcoreapp3.1/LMS.Tahaluf.dll
LMS.Tahaluf/obj/Debug/netcoreapp3.1/LMS.Tahaluf.genruntimeconfig.cache
LMS.Tahaluf/obj/Debug/netcoreapp3.1/LMS.Tahaluf.pdb
LMS.Tahaluf/obj/Debug/netcoreapp3.1/LMS.Tahaluf.RazorTargetAssemblyInfo.cache
LMS.Tahaluf/obj/Debug/netcoreapp3.1/staticwebassets/LMS.Tahaluf.StaticWebAssets.Manifest.cache
LMS.Tahaluf/obj/Debug/netcoreapp3.1/staticwebassets/LMS.Tahaluf.StaticWebAssets.xml
LMS.Tahaluf/obj/Debug/netcoreapp3.1/LMS.Tahaluf.csproj.AssemblyReference.cache
LMS.Tahaluf/.vs/LMS.Tahaluf/v16/.suo
LMS.Tahaluf.Infra/obj/Debug/netcoreapp3.1/LMS.Tahaluf.Infra.csproj.AssemblyReference.cache
LMS.Tahaluf.Core/obj/Debug/netcoreapp3.1/LMS.Tahaluf.Core.csproj.FileListAbsolute.txt
