<div class="container d-flex justify-content-center">
  <div class="row my-2 mx-2">
      <div class="col-md-5"> <img src="https://png.pngtree.com/png-vector/20190725/ourlarge/pngtree-message-icon-design-vector-png-image_1587713.jpg" alt="IMG"> </div>
      <!--col-->
      <div class="col-md-7">
          <h2 class="form-title">Leave Comment</h2>
          <p class="justify text-muted">Have an enquiry or would like to give us feedback?<br>Fill out the form below to contact our team.</p>
          <form [formGroup] = "formGroup">
              <div class="form-group pl-1">
                <textarea
                class="form-control" formControlName="comment"   matInput id="exampleFormControlTextarea1" rows="5"></textarea>              </div>
              <div class="row">
                  <div class="offset-md-1 col-md-5 ">
                       <button type="submit" class="btn btn-outline-success" (click)="PostComment()">Post Comment

                       </button>
                  </div>
                  <div class="offset-md-3 col-md-3 ">
                    <button type="button" class="btn btn-outline-danger" mat-dialog-close>Cancel</button></div>
              </div>


          </form>
      </div>
      <!--col-->
  </div>
  <!--row-->
</div>
