
<h2 mat-dialog-title>Create exam </h2>
<mat-dialog-content class="mat-typography">

  <div class="form" style="margin-top:50px">
    <form [formGroup]="formGroup">

      <div formGroupName="Question">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Question </mat-label>
        <input type="email" matInput formControlName="description">
        <mat-error *ngIf="this.formGroup.get('description')?.hasError('required')">
          Mark is <strong>required</strong>
      </mat-error>
      </mat-form-field>
      </div>

      <div formGroupName="Answer">

      <mat-form-field class="example-full-width" style="color:green;" appearance="fill">
        <mat-label>Correct Option is here! </mat-label>
        <input type="email" matInput formControlName="Answer1"  class="correct">
        <mat-error *ngIf="this.formGroup.get('Answer1')?.hasError('required')">
          Correct Option <strong>required</strong>
      </mat-error>
      </mat-form-field>  
      

       <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>False Option #1 </mat-label>
        <input type="email" matInput formControlName="Answer2" class="false">
        <mat-error *ngIf="this.formGroup.get('Answer2')?.hasError('required')">
          False Option #1<strong>required</strong>
      </mat-error>
      </mat-form-field>  
      
      <mat-form-field class="example-full-width" appearance="fill" class="false">
        <mat-label>False Option #2 </mat-label>
        <input type="email" matInput formControlName="Answer3">
        <mat-error *ngIf="this.formGroup.get('Answer3')?.hasError('required')">
          False Option #2<strong>required</strong>
      </mat-error>
      </mat-form-field> 
      
      <mat-form-field class="example-full-width" appearance="fill" class="false">
        <mat-label>False Option #3</mat-label>
        <input type="email" matInput formControlName="Answer4">
        <mat-error *ngIf="this.formGroup.get('Answer4')?.hasError('required')">
          False Option #3 <strong>required</strong>
      </mat-error>
      </mat-form-field>
</div>
    </form>
  </div>
</mat-dialog-content>


<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="Create()"
    [disabled]="!formGroup.valid">Save</button>
</mat-dialog-actions>
