<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="content">
                <h5 class="title2">C++ 3-5 section Units
                    <button class="button button-one" (click)="addUnit()">Add Unit+</button>
                </h5>


            </div>
            <div class="table100 ver2 m-b-110">
                <div class="table100-head">
                    <table>
                        <thead>
                            <tr class="row100 head">
                                <th class="cell100 column1">unit File bame</th>
                                <th class="cell100 column2">Post date</th>
                                <th class="cell100 column4">edit Unit</th>
                                <th class="cell100 column4">Delete Unit</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="table100-body js-pscroll">
                    <table>
                        <tbody>
                            <tr class="row100 body">
                                <td class="cell100 column1 fancy-link">Introduction</td>
                                <td class="cell100 column2 fancy-link">11-12-20218</td>
                                <td class="cell100 column4 fancy-link">
                                    <mat-icon class="pointer fancy-link" (click)="editUnit()">library_books</mat-icon>
                                </td>
                                <td class="cell100 column4 fancy-link">
                                    <mat-icon class="pointer fancy-link" (click)="deleteUnit()">delete</mat-icon>
                                </td>
                            </tr>
                            




                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>


    <!--===============================================================================================-->
    <script src="../../../assets/jquery/jquery-3.2.1.min.js "></script>
    <!--===============================================================================================-->
    <script src="../../../assets/bootstrap/js/popper.js "></script>
    <script src="../../../assets/bootstrap/js/bootstrap.min.js "></script>
    <!--===============================================================================================-->
    <!--===============================================================================================-->

    <!--===============================================================================================-->
    <script src="../../../assets/js/main.js "></script>