<!--====== PAGE BANNER PART START ======-->

<!-- <div class="wrapper d-flex align-items-stretch"> -->

<!--====== Table Information Employee  ======-->



<div class="wrapper d-flex align-items-stretch" style="background-color:#eee;">
  <app-sidebar></app-sidebar>
  <div style="padding-left: 10%;">
    <div class="container" id="pdfTable" #pdfTable>
      <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
          <h2 class="heading-section">Employee Info</h2>
        </div>
      </div>
      <button mat-fab color="primary" class="create" (click)="AddTrainer()">
        <mat-icon>add</mat-icon>
      </button>
      <!-- <div class="col-md-12 row">
                            <div class="col-md-2"> Search</div>
                            <div class="col-md-10">
                              <mat-form-field class="col-md-12 RightAlign">
                                <input type="text" placeholder="serch"aria-label="Assignee" matInput [formControl]="myControl"
                                  [matAutocomplete]="auto" (keyup)="Search($event)">
                                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                                  <mat-option class="RightAlign" *ngFor="let option of filteredOptions | async" [value]="option">
                                    {{option.name}}
                                  </mat-option>
                                </mat-autocomplete>
                              </mat-form-field>
                            </div>
                          </div> -->
  
      <div class="container">
        
      
        <div class="row">
          <div class="col-md-12">
            <div class="table-wrap">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="filterTerm">
              </div>
              <button class="btn btn-primary" (click)="downloadAsPDF();">Export To PDF</button>
              <table class="table table-responsive-xl"
                class="table table-striped table-bordered table-sm row-border hover "  id="pdfTable" #pdfTable style="border-color: blue;"
                datatable [dtOptions]="dtOptions">
                <thead>
                  <tr>
                    <th>&nbsp;</th>
                    <th>SSN</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Salary</th>
                    <th>Status</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="alert" role="alert"  *ngFor="let trainer of trainer.trainer | filter:filterTerm">
                    <td>
                      <label class="checkbox-wrap checkbox-primary">
                        <input type="checkbox" checked>
                        <span class="checkmark"></span>
                      </label>
                    </td>
                    <td>{{trainer.nationalSecurutiyNumber}}</td>
                    <td>
                      <!-- <div class="img" style="background-image: url(../../../assets/image/trainer/{{trainer.image}});"></div> -->
                      <img class="img" src="{{trainer.image}}" width="30%" height="30%">
                    </td>
                    <td>{{trainer.fname}} {{trainer.lname}}</td>
                    <td>{{trainer.email}}</td>
                    <td>{{trainer.phoneNumber}}</td>
                    <td>{{trainer.Salary}}</td>
                    <td class="status">

                      <span class="active" *ngIf="trainer.isActive" (click)="ChangeTrainerStatus(trainer.employeeId)">
                        {{trainer.isActive}}
                      </span>
                      <span class="error" *ngIf="!trainer.isActive" (click)="ChangeTrainerStatus(trainer.employeeId)">
                        {{trainer.isActive}}
                      </span>
                    </td>
                    <td>  <nav class ="navbar navbar-dark bg-dark navbar-expand-sm ">
                      <button type = "button" class="navbar-toggler" data-toggle="collapse" data-target="#topNav"> <span class="navbar-toggler-icon" ></span> </button>
                          <div id="topNav" class="collapse navbar-collapse">
                              <ul class="navbar-nav">
                                  <li class="nav-item active"><a href="index.html" class="nav-link"> Home </a></li>
                                  <li class="nav-item"><a href="gusti.html" class="nav-link">I nostri gelati</a></li>
                                  <li class="nav-item"><a href="storia.html" class="nav-link"> La nostra storia</a></li>
                                  <li class="nav-item"><a href="qualita.html" class="nav-link"> Perchè così buono</a></li>
                                  <li class="nav-item"><a href="dovesiamo.html" class="nav-link"> Trovaci </a></li>
                              </ul>
                          </div>
                      </nav> </td>
                    <td>

                      <button mat-flat-button
                        style="  border-radius: 20%;color:white;background-color :green; width:20%;height: 30%;"
                        (click)="UpdateTrainer(trainer.employeeId)">
                        Edit
                      </button>
                      <button mat-flat-button
                        style="  border-radius: 20%;color:white;background-color :rgb(202, 29, 29);"
                        (click)="DeleteTrainer(trainer.employeeId)">
                        Delete
                      </button>

                    </td>
                  </tr>




                </tbody>
              </table>
            </div>
          </div>
        </div>