

<div class="container" >
  <!-- <h2 class="mb-2">Create Section</h2> -->
  <div class="d-flex" style="justify-content: space-between;">
    <h3 class="mb-3" style="font-weight: bold; ">Create Coupon</h3>
    <fa-icon [icon]="faTimes" style="font-size: 30px;"  mat-dialog-close></fa-icon>
  </div>
  <div class="row">

    <form [formGroup] = "formGroup">
    <mat-dialog-content class="mat-typography">

    <div class="col">

      <div class="row">
        <div class="col">


            <mat-form-field class="example-full-width" >
              <mat-label>Code</mat-label>
              <input type="text" matInput formControlName="code">
              <mat-error *ngIf="formGroup.controls.code.hasError('required')">
                Code is <strong>required</strong>
              </mat-error>
            </mat-form-field>


        </div>
        <div class="col">
          <mat-form-field class="example-full-width" >
            <mat-label>Redemption</mat-label>
            <input type="number" matInput formControlName="redemption" min="1">
            <!-- <mat-error *ngIf="formGroup.controls.redemption.hasError('required')">
              Redemption is <strong>required</strong>
            </mat-error> -->
          </mat-form-field>

        </div>
      </div>

      <div class="row">
        <div class="col">


            <mat-form-field class="example-full-width">
              <mat-label>StartDate</mat-label>
              <input type="datetime-local" matInput formControlName="startDate">
              <mat-error *ngIf="formGroup.controls.startDate.hasError('required')">
                StartDate is <strong>required</strong>
              </mat-error>
            </mat-form-field>


        </div>
        <div class="col">
          <mat-form-field class="example-full-width">
            <mat-label>EndDate</mat-label>
            <input type="datetime-local" matInput formControlName="endDate">
            <mat-error *ngIf="formGroup.controls.endDate.hasError('required')">
              EndDate is <strong>required</strong>
            </mat-error>
          </mat-form-field>

        </div>
      </div>

      <div class="row">
        <div class="col">


          <mat-form-field >
            <mat-label>Course Name</mat-label>
            <mat-select formControlName="courseId">
                <mat-option *ngFor="let course of this.courseService.courses" [value]="course.courseId">
                    {{course.courseName}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="formGroup.controls.courseId.hasError('required')">
              Course Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>


        </div>
        <div class="col">

          <mat-form-field class="example-full-width" >
            <mat-label>Discount</mat-label>
            <input type="number" matInput formControlName="discount" min="1">
            <!-- <mat-error *ngIf="formGroup.controls.redemption.hasError('required')">
              Redemption is <strong>required</strong>
            </mat-error> -->
          </mat-form-field>
        </div>
      </div>
    </div>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <!-- <button mat-button mat-dialog-close>Cancel</button> -->
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial [disabled]="!formGroup.valid" (click)="saveItem()">Save</button>
  </mat-dialog-actions>
</form>

  </div>
</div>

