.container{
  background-color: #fcfcfc!important;
  width:100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: right;
  /* background-image: url('https://images.unsplash.com/photo-1501504905252-473c47e087f8?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y291cnNlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80'); */
  background-position: fill;
  background-repeat: no-repeat;
  padding-right:50px;
}

.loginCard{
  width: 600px;
  height: 60vh;
  padding: 20px;
  background-color: white;
  align-self: center;
  /* border-radius: 25px; */

}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 98%;
}

.content{
  padding: 10rem 0 0 0;
  background-color: #fcfcfc!important;

}

button{
  background-color: #af1a2d;
  color: #fff;
}

h3{
  font-size: 1.75rem;
}

/* .animation { opacity:0; transition:all 200ms ease-in-out; }

.animation.fade-in { opacity:1; } */


img {
  position :relative;
  top:0;
  left:-200;
  animation: mymove 5s ;
}


/* Standard syntax */
@keyframes mymove {
 0%   {right:80%;}

  50% {right: 0%;}
}

.move{
  position :relative;
  top:0;
  right:-200;
  animation: mymove1 5s ;

}

/* Standard syntax */
@keyframes mymove1 {
  0%   {left:80%;}

   50% {left: 0%;}
 }


 .result{
  box-shadow: none;
  background-color: transparent;
  padding:0;
 }

 .mat-checkbox-background{
   background-color:black!important ;
 }

 .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #af1a2d;
}

mat-form-field{
  margin-left: 0.5rem!important;
}
