
 <app-navbar></app-navbar>

 <div class="content">
   <div class="container">
     <div class="row">

       <div class="col-md-6">
         <img src="../../../assets/image/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid animation fade-in" ng-class="{'fade-in': true }">

       </div>
      <div class="col-md-6 move">
        <div class="row justify-content-center" style="margin-left: 20%; width: 80%;">
          <div class="col-md-8">
            <div class="mb-4">
              <h3>Sign Up</h3>
            </div>
          </div>

            <form class="form" style="margin-top:50px" [formGroup]="loginService.formGroup">


              <mat-form-field appearance="fill" class="example-full-width ml-5">
                <mat-label>Email</mat-label>
                <input type="email" matInput  formControlName="email">
                <mat-error *ngIf="loginService.formGroup.controls.email.hasError('email') && !loginService.formGroup.controls.email.hasError('required')">
                  Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="loginService.formGroup.controls.email.hasError('required')">
                  Email is <strong>required</strong>
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" >
                <span mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </span>

                  <mat-error *ngIf="loginService.formGroup.controls.password.hasError('minlength') && !loginService.formGroup.controls.password.hasError('required')">
                 Please Enter Strong Password
                </mat-error>
                <mat-error *ngIf="loginService.formGroup.controls.password.hasError('required')">
                  Password is <strong>required</strong>
                </mat-error>
              </mat-form-field>

              <mat-form-field  appearance="fill">
                <mat-label>FirstName</mat-label>
                <input type="text"  matInput formControlName="firstName" >

                <mat-error *ngIf="loginService.formGroup.controls.firstName.hasError('required')">
                  First Name is <strong>required</strong>
                </mat-error>
              </mat-form-field>

              <mat-form-field  appearance="fill">
                <mat-label>LastName</mat-label>
                <input type="text"  matInput formControlName="lastName" >

                <mat-error *ngIf="loginService.formGroup.controls.lastName.hasError('required')">
                  LastName is <strong>required</strong>
                </mat-error>
              </mat-form-field>

              <mat-form-field  appearance="fill">
                <mat-label>Nationality</mat-label>
                <mat-select formControlName="nationality">
                    <mat-option *ngFor="let country of myData" [value]="country.text">

                      {{country.text}}
                    </mat-option>
                </mat-select>
                <!-- <input type="text"  matInput formControlName="nationality" > -->

                <mat-error *ngIf="loginService.formGroup.controls.nationality.hasError('required')">
                  Nationality is <strong>required</strong>
                </mat-error>
              </mat-form-field>

              <mat-form-field  appearance="fill">
                <mat-label>PhoneNumber</mat-label>
                <input type="text"  matInput formControlName="phoneNumber">
                <mat-error *ngIf="loginService.formGroup.controls.phoneNumber.hasError('pattern') && !loginService.formGroup.controls.phoneNumber.hasError('required')">
                  Enter Just Numbers
                 </mat-error>
                <mat-error *ngIf="loginService.formGroup.controls.phoneNumber.hasError('required')">
                  PhoneNumber is <strong>required</strong>
                </mat-error>


              </mat-form-field>



              <button (click)="SignUp()" mat-raised-button style="flex: 1; width:100%; margin-top: 50px;" [disabled]="!loginService.formGroup.valid">

                SignUp
              </button>


              <p routerLink="../login" style="text-align: center; font-size: 1em; margin-top: 30px; cursor: pointer; ">Already have an account</p>


            </form>
        </div>

      </div>

    </div>




  </div>
</div>



<app-footer></app-footer>

