<div class="wrapper d-flex align-items-stretch">
  <app-sidebar></app-sidebar>

  <!-- <p-paginator [rows]="10" [totalRecords]="120" [rowsPerPageOptions]="[10,20,30]"></p-paginator> -->
  <div id="content" class="p-4 p-md-5 pt-5">
    <div class="d-flex" style="justify-content:space-between;">
      <h2 class="mb-4">Manage Sections</h2>

      <!-- <button class="add"><i class="pi pi-plus" style="font-size: 2rem"></i></button>
      <button mat-fab color="primary">Warn</button> -->
      <!-- <button mat-fab color="primary" class="create" (click)="createCourse()" >
        <mat-icon>add</mat-icon>
      </button> -->
      <!-- <p-button icon="pi pi-plus" iconPos="right" class="p-button-success"></p-button> -->
      <!-- <button pButton pRipple type="button" label="Success" class="p-button-success"></button> -->
      <!-- <button pButton pRipple type="button" label="Create" class="p-button-rounded p-button-success"></button> -->

      <div>
      <mat-form-field appearance="fill">
        <mat-label>Course Name</mat-label>
      <mat-select [formControl]="courseId">
        <mat-option *ngFor="let course of this.courseService.courses" [value]="course.courseId">
          {{course.courseName}}
        </mat-option>
        <mat-option [value] = "0">
          ALL
        </mat-option>
      </mat-select>


      </mat-form-field>
      <!-- <button (click)="search()">search</button> -->
       <button mat-fab color="primary" class="create" (click)="search()" >
        <mat-icon>search</mat-icon>
      </button>
    </div>
    </div>
  <div clas="card" style="display: flex;  flex-wrap: wrap;">
    <mat-card class="card-content" *ngFor ="let section of sectionService.sections">

      <mat-card-title>section</mat-card-title>
      <!-- <mat-card-subtitle>End</mat-card-subtitle> -->
      <mat-card-content>
        <div>
          {{section.sectionId}}
        </div>
        <div>
          {{section.noLecture}}
        </div>
        <div>
          {{section.sectionCapacity}}
        </div>
        <div>
          {{section.statusName}}
        </div>
        <div>
          {{section.sectionTimeStart}}
        </div>
        <div>
          {{section.sectionTimeEnd}}
        </div>
        <div>
          {{section.trainerName}}
        </div>

        <!-- <div class="card-item p-2">
          <img src="../../../assets/image/bg-2.jpg" alt="" width="200" height="150">

          <div class="pl-1">
            <div class="pt-1">
              <fa-icon [icon]="faBook"></fa-icon><span class="pl-2 pr-3">{{section.categoryName}}</span>
            </div>
            <div class="pt-1">
              <fa-icon [icon]="faTag" clas="pl-3"></fa-icon><span class="pl-2 pt-2">{{course.tagName}}</span>
            </div >
            <div class="pt-1">
              <fa-icon [icon]="faChartLine"></fa-icon><span class="pl-2 pr-3">{{course.levelName}}</span>
            </div>
            <div class="pt-1">
              <fa-icon [icon]="faCalendar" clas="pl-3"></fa-icon><span class="pl-2 pt-2">{{course.tagName}}</span>
            </div>

            <div class="pt-1">
              <fa-icon [icon]="faDollarSign"></fa-icon><span class="pl-2 pr-3">{{course.coursePrice}}</span>
            </div>
            <div class="pt-1">
              <fa-icon [icon]=" faPercentage" clas="pl-3"></fa-icon><span class="pl-2 pt-2">{{course.passMark}}</span>
            </div>
          </div>



      </div> -->
      <!-- <div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis, unde? Eveniet repudiandae sed iure, eaque fugiat rerum voluptatibus minima provident incidunt corrupti mollitia unde in nobis, pariatur at quam laudantium.</p>
      </div> -->
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-button >Update</button>
        <!-- <fa-icon [icon]="faEdit" style="font-size: 2rem" ></fa-icon> -->
        <button mat-button>Delete</button>
      </mat-card-actions>
    </mat-card>

  </div>
  </div>


  </div>
