
 <div class="navigation py-3">
  <div class="container">
      <div class="row">

          <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <nav class="navbar navbar-expand-lg">


                  <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                      <div class="logo mr-auto">
                          <a href="index-2.html">
                              <img src="../../assets/image/tahaluf_logo.png" routerLink="../pages" (click)="submit()" alt="Logo" height="90px" width="130px">
                          </a>
                      </div>
                      <ul class="navbar-nav mr-auto">
                          <li class="nav-item">
                              <a routerLink="../pages/home" (click)="submit()" routerLinkActive="active">Home</a>

                          </li>
                          <li class="nav-item">
                              <a routerLink="../pages/aboutus" (click)="submit()" routerLinkActive="active">About us</a>
                          </li>
                          <li class="nav-item">
                            <a routerLink="../pages/courses" (click)="submit()" routerLinkActive="active">Courses</a>

                          </li>

                          <li class="nav-item">
                              <a routerLink="../pages/contactus" (click) ="submit()" routerLinkActive="active">Contact Us</a>

                          </li>
                          <li class="nav-item"></li>
                          <li class="nav-item"></li>
                          <li class="nav-item"></li>
                          <li class="nav-item"></li>


                          <li class="nav-item">
                            <div class="dropdown">
                              <mat-icon class="dropbtn">favorite</mat-icon>

                              <div class="dropdown-content">
                                <div class="shopping-cart">


                                  <ul class="shopping-cart-items">
                                    <li class="clearfix" *ngFor="let item of traineeService.wishList">
                                      <img src="{{item.courseId}}" alt="item" />
                                      <span class="item-name">{{item.courseName}}</span>
                                      <span class="item-price">{{item.coursePrice}}</span>
                                    
                                        </li>
                                        <hr>
                                    </ul>

                                     <a routerLink="" (click) ="submit()" routerLinkActive="active" class="button">Go To Wish List</a>
                                  </div>
                              </div>
                            </div>
                          </li>
                          <li class="nav-item">
                            <div class="dropdown">
                              <mat-icon class="dropbtn">shopping_cart</mat-icon>

                              <div class="dropdown-content">



                            <div class="shopping-cart">


                            <ul class="shopping-cart-items" >
                                 <li class="clearfix" *ngFor="let item of traineeService.cartItem">
                                <img src="{{item.image}}" alt="item" />
                                <span class="item-name">{{item.courseName}}</span>
                                <span class="item-price">{{item.coursePrice}}</span>

                                  </li>
                                  <hr>
                              </ul>


                               <a   (click) ="submit()" routerLinkActive="active" class="button">Go To Cart</a>
                            </div>

                              </div>
                            </div>
                          </li>

                          <li class="nav-item">
                            <div class="dropdown">
                              <img src="../../../assets/image/profile.png" width="40" height="40" alt="te" class="profileImage">
                              <div class="dropdown-content">
                              <a  routerLink="" (click) ="submit()" routerLinkActive="active" >My Profile</a>
                              <hr>
                              <a  routerLink="" (click) ="submit()" routerLinkActive="active" >My Learning</a>
                              <hr>
                              <a  routerLink="" (click) ="submit()" routerLinkActive="active" >My Purches</a>
                              <hr>
                              <a  routerLink="" (click) ="submit()" routerLinkActive="active" class="">Log Out</a>
                              </div>
                            </div>
                          </li>
                      </ul>
                  </div>
              </nav> <!-- nav -->
          </div>

      </div> <!-- row -->
  </div> <!-- container -->
</div>
