
 <div class="navigation py-3">
  <div class="container">
      <div class="row">

          <div class="col-lg-11 col-md-11 col-sm-11 col-10">
              <nav class="navbar navbar-expand-lg">
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>

                  <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                      <div class="logo mr-auto">
                          <a href="index-2.html">
                              <img src="../../assets/image/tahaluf_logo.png" routerLink="../pages" (click)="submit()" alt="Logo" height="90px" width="130px">
                          </a>
                      </div>
                      <ul class="navbar-nav mr-auto">
                          <li class="nav-item">
                              <a routerLink="../pages/home" (click)="submit()" routerLinkActive="active">Home</a>

                          </li>
                          <li class="nav-item">
                              <a routerLink="../pages/aboutus" (click)="submit()" routerLinkActive="active">About us</a>
                          </li>
                          <li class="nav-item">
                              <a href="#">Courses</a>

                          </li>

                          <li class="nav-item">
                              <a href="#">Shop</a>

                          </li>
                          <li class="nav-item">
                              <a routerLink="../pages/contactus" (click) ="submit()" routerLinkActive="active">Contact Us</a>

                          </li>
                          <li class="nav-item"></li>
                          <li class="nav-item"></li>
                          <li class="nav-item"></li>
                          <li class="nav-item"></li>


                          <li class="nav-item">
                            <div class="dropdown">
                              <mat-icon class="dropbtn">favorite</mat-icon>

                              <div class="dropdown-content">
                              <a href="#">Link 1</a>
                              <a href="#">Link 2</a>
                              <a href="#">Link 3</a>
                              </div>
                            </div>
                          </li>
                          <li class="nav-item">
                            <div class="dropdown">
                              <mat-icon class="dropbtn">shopping_cart</mat-icon>

                              <div class="dropdown-content">
                              <a href="#">Link 1</a>
                              <a href="#">Link 2</a>
                              <a href="#">Link 3</a>
                              </div>
                            </div>
                          </li>

                          <li class="nav-item">
                            <div class="dropdown">
                              <img src="../../../assets/image/profile.png" width="40" height="40" alt="te" class="profileImage">
                              <div class="dropdown-content">
                              <a href="#">Link 1</a>
                              <a href="#">Link 2</a>
                              <a href="#">Link 3</a>
                              </div>
                            </div>
                          </li>
                      </ul>
                  </div>
              </nav> <!-- nav -->
          </div>

      </div> <!-- row -->
  </div> <!-- container -->
</div>
