body {
  background-color: #eee
}

.alert-gradient{
  background: linear-gradient(to top right, green, #9198e5);
  border-radius:0px;
  border:none;
  color:#fff;
}
.alert-heading-gradient{
  color:#fff;
  font-weight:900;
}

.image-container {
  position: relative
}

.thumbnail-image {
  border-radius: 10px !important
}

.discount {
  background-color: red;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 10px;
  border-radius: 6px;
  color: #fff
}

.wishlist {
  height: 25px;
  width: 25px;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
.text{
text-align: start;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: bold;
margin: 25px;
font-size: 28px;
}

.text2{
  text-align: left;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 28px;
  }
.first {
  position: absolute;
  width: 100%;
  padding: 9px
}

.dress-name {
  font-size: 13px;
  font-weight: bold;
  width: 75%
}

.new-price {
  font-size: 13px;
  font-weight: bold;
  color: red
}

.old-price {
  font-size: 8px;
  font-weight: bold;
  color: grey
}

.btn {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  padding: 3px
}

.creme {
  background-color: #fff;
  border: 2px solid grey
}

.creme:hover {
  border: 3px solid grey
}

.creme:focus {
  background-color: grey
}

.red {
  background-color: #fff;
  border: 2px solid red
}

.red:hover {
  border: 3px solid red
}

.red:focus {
  background-color: red
}

.blue {
  background-color: #fff;
  border: 2px solid #40C4FF
}

.blue:hover {
  border: 3px solid #40C4FF
}

.blue:focus {
  background-color: #40C4FF
}

.darkblue {
  background-color: #fff;
  border: 2px solid #01579B
}

.darkblue:hover {
  border: 3px solid #01579B
}

.darkblue:focus {
  background-color: #01579B
}

.yellow {
  background-color: #fff;
  border: 2px solid #FFCA28
}

.yellow:hover {
  border-radius: 3px solid #FFCA28
}

.yellow:focus {
  background-color: #FFCA28
}

.item-size {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid grey;
  color: grey;
  font-size: 10px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center
}

.rating-star {
  font-size: 10px !important
}

.rating-number {
  font-size: 10px;
  color: grey
}

.buy {
  font-size: 12px;
  color: #af1a2d;
  font-weight: 500
}

.voutchers {
  background-color: #fff;
  border: none;
  border-radius: 10px;
  width: 190px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden
}

.voutcher-divider {
  display: flex
}

.voutcher-left {
  width: 60%
}

.voutcher-name {
  color: grey;
  font-size: 9px;
  font-weight: 500
}

.voutcher-code {
  color: red;
  font-size: 11px;
  font-weight: bold
}

.voutcher-right {
  width: 40%;
  background-color: #af1a2d;
  color: #fff
}

.overlay {
background:#f4f5f5;
border-radius: 2rem;
margin: 50px;
border: 1px solid rgba(255, 255, 255, 0.125);
}
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');



.button_container {
	position: absolute;
  left: 0;
  right: 0;
  margin-top: 33px;
}

.description, .link {
  font-family: 'Amatic SC', cursive;
  text-align: center;
}

.description {
	font-size: 35px;
}

.btn2 {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: #222;
  padding: 17px 60px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
}

.btn2 span {
  position: relative;
  z-index: 1;
}

.btn2:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: #78c7d2;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn2:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}
.discount-percent{
  margin: 12px;
  background-color: #af1a2d;
}
.link {
  font-size: 20px;
  margin-top: 30px;
}

.link a {
  color: #000;
  font-size: 25px;
}
