    <!--====== EVENTS PART START ======-->
    <app-trainee-nav></app-trainee-nav>
    <section id="event-singel" class="pt-120  gray-bg">
      <div class="container-fluid">
          <div class="events-area">
              <div class="row">
                  <div class="col-lg-9">
                      <div class="events-left">
                          <h3 style="margin-left: 65px;">{{this.mySectionService.mySections[0].courseName}}</h3>
                          <a href="#" style="margin-left: 55px;"><span><mat-icon>event_note</mat-icon> 2 December 2018</span></a>
                          <a href="#" style="margin-left: 55px;"><span> <mat-icon>watch_later</mat-icon> Start : {{this.mySectionService.mySections[0].sectionTimeStart}} - End :
                            {{this.mySectionService.mySections[0].sectionTimeEnd}}
                          </span></a>
                          <a href="#" style="margin-left: 55px;"><span><mat-icon>tv</mat-icon>

                            {{this.mySectionService.mySections[0].typeName}}
                          </span></a>
                          <div class="corses-singel-image">
                            <div class="course-image">
                              <img  class="image" [src]="this.mySectionService.mySections[0].image"  alt="Courses">
                            </div>
                          </div> <!-- corses singel image -->
                          <mat-tab-group style="margin-left: 15px;">


                            <mat-tab>
                              <ng-template mat-tab-label>
                                <mat-icon>bookmark</mat-icon>
                                Description
                              </ng-template>
                              <div class="container height-100" style="margin-top: 10px;">
                                <div class="form-floating w-100">
                                   <textarea class="form-control" readonly placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px">
                                    {{this.mySectionService.mySections[0].courseDescription}}

                                   </textarea>
                                </div>
                            </div>
                            </mat-tab>

                            <mat-tab>
                              <ng-template mat-tab-label>
                                <mat-icon> message</mat-icon>
                                Comments
                              </ng-template>

                              <ng-container >



                                <div class="row d-flex justify-content-center">
                                  <div class="col-md-12 col-lg-12">
                                    <div class="card text-dark">
                                      <div class="card-body p-4">
                                        <div class="row">
                                          <div class="col-8">
                                            <h4 class="mb-0">Recent comments</h4>
                                            <p class="fw-light mb-4 pb-2">Latest Comments section by users</p>
                                          </div>
                                          <div class="col-4 buttons">
                                            <button class="btn-hover color-10" (click)="AddComent()">Add Comment</button>
                                          </div>
                                        </div>




                                      <hr class="my-0" style="height: 1px;" />

                                      <div class="card-body p-4" *ngFor="let comment of this.courseService.courseComment">
                                        <div class="d-flex flex-start">
                                          <img
                                            class="rounded-circle shadow-1-strong me-3"
                                            [src]="this.comment.image"
                                            alt="avatar"
                                            width="60"
                                            height="60"
                                          />
                                          <div>
                                            <h6 class="fw-bold mb-1">{{this.comment.traineeName}}</h6>
                                            <div class="d-flex align-items-center mb-3">

                                            </div>
                                            <p class="mb-0">
                                              {{this.comment.description}}
                                            </p>
                                          </div>
                                        </div>
                                      </div>

                                      <hr class="my-0" />


                                    </div>
                                  </div>
                                </div>
                              </div>


                          </ng-container>
                            </mat-tab>
                            <mat-tab>
                              <ng-template mat-tab-label>
                                <mat-icon>check</mat-icon>
                                Tasks
                              </ng-template>
                              <ng-container >
                                <div class="col-lg-6 col-md-6 col-12"
                                *ngFor="let i of this.mySectionService.sectionTask"
                                (click)="OpenTaskInfo(i.taskId)">
                                  <div class="item-box-wrapper  d-flex ng-star-inserted">
                                    <div class="item-icon mr-1 alert alert-warning  d-flex align-items-center">
                                      <!--<mat-icon> beenhere</mat-icon>-->
                                      <mat-icon>event_available</mat-icon>
                                    </div>
                                      <div class="flex-fill">
                                        <div class="d-flex justify-content-between align-items-center box-info  justify-content-start">
                                          <div class="d-flex align-items-center course-info">
                                            <div class="mx-1">
                                              <h6 class="box-title">{{i.taskTitle}}</h6>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="d-flex  align-items-center box-info">
                                          <div class="flex-fill">
                                            <div class="d-flex align-items-center task-info  justify-content-start">
                                              <mat-icon>calendar_today</mat-icon>
                                              <div><b>Date</b>

                                                <div class="font-weight-bold">{{i.date}}</div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="flex-fill">

                                            <div class="d-flex flex-wrap align-items-center task-info  justify-content-start">
                                              <mat-icon>access_alarms</mat-icon>
                                              <div><b>Deadline</b>

                                                <div class="font-weight-bold">{{i.deadline}}</div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                              </ng-container>
                            </mat-tab>
                            <mat-tab>
                              <ng-template mat-tab-label>

                                <mat-icon> live_help</mat-icon>
                                Exams
                              </ng-template>
                              <ng-container >
                                <div class="col-lg-6 col-md-6 col-12"
                                *ngFor="let e of this.mySectionService.sectionExam"
                                (click)="OpenExamInfo(e.examId)">
                                  <div class="item-box-wrapper  d-flex">
                                    <div class="item-icon alert alert-warning  d-flex align-items-center">
                                      <!--<mat-icon> beenhere</mat-icon>-->
                                      <mat-icon> live_help</mat-icon>
                                    </div>
                                      <div class="flex-fill">
                                        <div class="d-flex justify-content-between align-items-center box-info  justify-content-start">
                                          <div class="d-flex align-items-center course-info">
                                            <div class="mx-1">
                                              <h6 class="box-title">Final Exam</h6>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="d-flex  align-items-center box-info">
                                          <div class="flex-fill">
                                            <div class="d-flex align-items-center task-info  justify-content-start">
                                              <mat-icon>calendar_today</mat-icon>
                                              <div><b>Date</b>

                                                <div class="font-weight-bold">{{e.startTime}}</div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="flex-fill">

                                            <div class="d-flex flex-wrap align-items-center task-info  justify-content-start">
                                              <mat-icon>access_alarms</mat-icon>
                                              <div><b>Deadline</b>

                                                <div class="font-weight-bold">{{e.endTime}}</div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                              </ng-container>

                            </mat-tab>
                            <mat-tab>
                              <ng-template mat-tab-label>
                                <mat-icon>video</mat-icon>
                                Meetings
                              </ng-template>
                                <div class="row" style="padding: 10px; margin-top: 15px;">
                                  <img src="" class="col-3" alt="">
                                  <h6 class="col-4">Join To Lecture</h6>
                                  <a href="" class="col-4">Click Here To Join Meeting</a>
                                </div>

                            </mat-tab>
                          </mat-tab-group>
                      </div> <!-- events left -->
                  </div>
                  <div class="col-lg-3">
                      <div class="events-right">
                          <div class="events-coundwon bg_cover" data-overlay="8" style="background-color: #fff;">
                              <div data-countdown="2020/03/12"></div>
                              <div class="events-coundwon-btn">
                                  <a class="main-btn" (click)="RateCourse()">Rate This Course</a>
                              </div>
                          </div> <!-- events coundwon -->
                      </div> <!-- events right -->
                      <hr>

                        <details class="details-example">
                          <summary>Units</summary>
                          <ul>
                              <li *ngFor="let unit of this.mySectionService.sectionUnits">
                                <span>{{unit.filePath}}</span>
                                <button class="downloadButton">
                                  <mat-icon>assignment_returned</mat-icon>
                                </button>

                              </li>
                          </ul>
                       </details>

                  </div>
              </div> <!-- row -->
          </div> <!-- events-area -->
      </div> <!-- container -->
  </section>

  <!--====== EVENTS PART ENDS ======-->

