    <!--====== EVENTS PART START ======-->
    <app-trainee-nav></app-trainee-nav>
    <section id="event-singel" class="pt-120  gray-bg">
      <div class="container-fluid">
          <div class="events-area">
              <div class="row">
                  <div class="col-lg-9">
                      <div class="events-left">
                          <h3 style="margin-left: 65px;">{{this.mySectionService.singleSectionInfo.courseName}}</h3>
                          <a href="#" style="margin-left: 55px;"><span><mat-icon>event_note</mat-icon> 2 December 2018</span></a>
                          <a href="#" style="margin-left: 55px;"><span> <mat-icon>watch_later</mat-icon>
                            Start :
                            {{this.mySectionService.singleSectionInfo.sectionTimeStart | date:'shortTime'}}
                            - End :
                            {{this.mySectionService.singleSectionInfo.sectionTimeEnd | date:'shortTime'}}
                          </span></a>
                          <a href="#" style="margin-left: 55px;"><span><mat-icon>tv</mat-icon>

                            {{this.mySectionService.singleSectionInfo.statusName}}
                          </span></a>
                          <div class="corses-singel-image">
                            <div class="course-image">
                              <img  class="image" src="../../../assets/image/myLearning.jpg"  alt="Courses">
                            </div>
                          </div> <!-- corses singel image -->
                          <mat-tab-group style="margin-left: 15px;">

                           <mat-tab>
                              <ng-template mat-tab-label>
                                <mat-icon> message</mat-icon>
                                Comments
                              </ng-template>

                              <ng-container >



                                <div class="row d-flex justify-content-center">
                                  <div class="col-md-12 col-lg-12">
                                    <div class="card text-dark">
                                      <div class="card-body p-4">
                                        <div class="row">
                                          <div class="col-8">
                                            <h4 class="mb-0">Recent comments</h4>
                                            <p class="fw-light mb-4 pb-2">Latest Comments section by users</p>
                                          </div>
                                          <div class="col-4 buttons">
                                            <button class="btn-hover color-10" (click)="AddComent()">Add Comment</button>
                                          </div>
                                        </div>




                                      <hr class="my-0" style="height: 1px;" />

                                      <div class="card-body p-4" *ngFor="let comment of this.mySectionService.sectionComment">
                                        <div class="d-flex flex-start">
                                          <img
                                            class="rounded-circle shadow-1-strong me-3"
                                            [src]="this.comment.image"
                                            alt="avatar"
                                            width="60"
                                            height="60"
                                          />
                                          <div>
                                            <h6 class="fw-bold mb-1">{{this.comment.traineeName}}</h6>
                                            <div class="d-flex align-items-center mb-3">

                                            </div>
                                            <p class="mb-0">
                                              {{this.comment.description}}
                                            </p>
                                          </div>
                                        </div>
                                      </div>

                                      <hr class="my-0" />


                                    </div>
                                  </div>
                                </div>
                              </div>


                          </ng-container>
                            </mat-tab>
                            <mat-tab>
                              <ng-template mat-tab-label>
                                <mat-icon>check</mat-icon>
                                Tasks
                              </ng-template>
                              <ng-container >
                                <div class="col-lg-6 col-md-6 col-12"
                                *ngFor="let i of this.mySectionService.sectionTask"
                                (click)="OpenTaskInfo(i.taskId)">
                                  <div class="item-box-wrapper  d-flex ng-star-inserted">
                                    <div class="item-icon mr-1 alert alert-warning  d-flex align-items-center">
                                      <!--<mat-icon> beenhere</mat-icon>-->
                                      <mat-icon>event_available</mat-icon>
                                    </div>
                                      <div class="flex-fill">
                                        <div class="d-flex justify-content-between align-items-center box-info  justify-content-start">
                                          <div class="d-flex align-items-center course-info">
                                            <div class="mx-1">
                                              <h6 class="box-title">{{i.taskTitle }}</h6>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="d-flex  align-items-center box-info">
                                          <div class="flex-fill">
                                            <div class="d-flex align-items-center task-info  justify-content-start">
                                              <mat-icon>calendar_today</mat-icon>
                                              <div><b>Date</b>

                                                <div class="font-weight-bold">{{i.date | date:'shortDate'}}</div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="flex-fill">

                                            <div class="d-flex flex-wrap align-items-center task-info  justify-content-start">
                                              <mat-icon>access_alarms</mat-icon>
                                              <div><b>Deadline</b>

                                                <div class="font-weight-bold">{{i.deadline | date:'fullDate'}}</div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                              </ng-container>
                            </mat-tab>
                            <mat-tab>
                              <ng-template mat-tab-label>

                                <mat-icon> live_help</mat-icon>
                                Exams
                              </ng-template>
                              <ng-container >
                                <div class="col-lg-6 col-md-6 col-12"
                                *ngFor="let e of this.mySectionService.sectionExam"
                                (click)="OpenExamInfo(e.examId)">
                                  <div class="item-box-wrapper  d-flex">
                                    <div class="item-icon alert alert-primary  d-flex align-items-center">
                                      <!--<mat-icon> beenhere</mat-icon>-->
                                      <mat-icon> live_help</mat-icon>
                                    </div>
                                      <div class="flex-fill">
                                        <div class="d-flex justify-content-between align-items-center box-info  justify-content-start">
                                          <div class="d-flex align-items-center course-info">
                                            <div class="mx-1">
                                              <h6 class="box-title">Final Exam</h6>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="d-flex  align-items-center box-info">
                                          <div class="flex-fill">
                                            <div class="d-flex align-items-center task-info  justify-content-start">
                                              <mat-icon>calendar_today</mat-icon>
                                              <div><b>Date</b>

                                                <div class="font-weight-bold">{{e.startTime |date:'fullDate'}}</div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="flex-fill">

                                            <div class="d-flex flex-wrap align-items-center task-info  justify-content-start">
                                              <mat-icon>access_alarms</mat-icon>
                                              <div><b>Deadline</b>

                                                <div class="font-weight-bold">{{e.endTime |date:'shortTime'}}</div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                              </ng-container>

                            </mat-tab>
                            <mat-tab>
                              <ng-template mat-tab-label>
                                <mat-icon>desktop_windows</mat-icon>
                                Meetings
                              </ng-template>
                              <ng-container >
                                <div class="review-item d-flex">
                                  <div class="text-center mr-2">
                                    <img  class="person-image" src="../../../assets/image/teammmat.png">
                                  </div>
                                  <div >
                                    <div class="review-writer mt-2">
                                        Microsoft Teams</div>
                                    <div  class="review-comment"><p _ngcontent-c19="" class="mb-0"><a _ngcontent-c19="" class="color-red" target="_blank" href="https://teams.microsoft.com/l/meetup-join/19%3ameeting_N2U4MjgzZGQtYTgzYS00NDBmLWE4MDgtZTBhZDhkMzQ1YmRj%40thread.v2/0?context=%7b%22Tid%22%3a%22fb4eb8f6-03cd-4fc7-a165-2f10f0955f17%22%2c%22Oid%22%3a%22472247f0-cd24-4830-8a1c-b28be940fc57%22%7d"> Click Here  </a>To Join Meeting </p></div></div></div>
                              </ng-container>

                            </mat-tab>
                          </mat-tab-group>


                      </div> <!-- events left -->
                  </div>
                  <div class="col-lg-3" style="    bottom: 50px;
                  ">
                      <div class="events-right">
                          <div class="events-coundwon bg_cover" data-overlay="8" style="background-color: #fff;">
                              <div data-countdown="2020/03/12"></div>
                              <div class="events-coundwon-btn">
                                  <a class="main-btn" (click)="RateCourse()">Rate This Course</a>
                              </div>
                          </div> <!-- events coundwon -->
                      </div> <!-- events right -->
                      <hr>

                        <details class="details-example">
                          <summary>Units</summary>
                          <ul>
                              <li *ngFor="let unit of this.mySectionService.sectionUnits">
                                <div class="document-info w-100 px-2">
                                  <div  class="document-name">
                                    <span _>LMS.pdf</span>
                                  </div>
                                  <div class="d-flex justify-content-between">
                                    <span  class="document-type color-red font-small"> [File] </span>
                                    <mat-icon>cloud_download</mat-icon>
                                  </div>
                                </div>
                              </li>
                          </ul>
                       </details>
                            <br>
                       <details class="details-example">
                        <summary>Chat</summary>
                        <!-- <ul> -->

                              <app-chat style="top:560px"></app-chat>

                        <!-- </ul> -->
                     </details>



                  </div>

              </div> <!-- row -->

          </div> <!-- events-area -->

      </div> <!-- container -->
  </section>


  <!--====== EVENTS PART ENDS ======-->

