.map{
  width: 450px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
}

    .elementToFadeInAndOut {
      opacity: 1;
      animation: fade 3s linear forwards ;
    }



  @keyframes fade {
    0%{ opacity: 0 }
    50%{opacity: 0.5}
    100% { opacity: 1 }
    }

    .content h3{
      position: relative;
      padding-bottom: 5px;
    }
    .content h3::before{
      content: '';
      position: absolute;
      width: 258px;
      height: 2px;
      background-color: #af1a2d;
      bottom: -0;

      /* left: 0; */
      transform: scaleX(0);
      transform-origin: bottom left;
      transition: transform 0.25s ease-in;
      animation: animation1 3s linear forwards;


  }
  @keyframes animation1 {
    0%{

      transform: scaleX(0);
      transform-origin: bottom left;
    }
    100%{
      transform: scaleX(1);
    }
    }


/* .content{
  border: 3px solid #af1a2d;
  padding: 50px

} */
