
<h2 mat-dialog-title> #{{courseId}} {{courseName}}</h2>
<mat-dialog-content class="mat-typography">

  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="singel-event-list mt-30">
                <div class="row">
                  <div class="col-lg-5">
                    <img src="../../../assets/image/bg-2.jpg" alt="course" width="400" height="150">
                </div>

                <div class="col-lg-6">

                {{courseDescripction}}
                </div>

                </div>

                  <div class="event-cont mt-4" style="width: 100%;">
                    <div class="row">
                      <div class="col-lg-7">
                        <div class="row mt-2">
                          <div class="col-lg-6">
                            <fa-icon [icon]="faBook"></fa-icon><span class="pl-2 pr-3">{{categoryName}}</span>

                          </div>
                          <div class="col-lg-6">
                            <fa-icon [icon]="faChartLine"></fa-icon><span class="pl-2 pr-3">{{levelName}}</span>

                          </div>


                        </div>

                      </div>
                      <div class="col-lg-7 py-2">
                        <div class="row">
                          <div class="col-lg-6">
                            <fa-icon [icon]="faTag"></fa-icon><span class="pl-2 pr-3">{{tagName}}</span>

                          </div>
                          <div class="col-lg-6">
                            <fa-icon [icon]=" faPercentage" clas="pl-3"></fa-icon><span class="pl-2 pr-3">{{passMark}}</span>

                          </div>
                        </div>

                      </div>



                      <div class="col-lg-7">
                        <div class="row">
                          <div class="col-lg-6">
                            <fa-icon [icon]=" faChalkboard" clas="pl-3"></fa-icon><span class="pl-2 pr-3">{{typeName}}</span>
                          </div>
                          <div class="col-lg-6">
                            <fa-icon [icon]="faDollarSign"></fa-icon><span class="pl-2 pr-3">{{coursePrice}}</span>

                          </div>
                        </div>

                      </div>

                    </div>


                  </div>

                </div>

          </div>
  </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <!-- <button mat-button mat-dialog-close (click)="deleteCourse()">Delete</button> -->
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Ok</button>
</mat-dialog-actions>
