

	<!-- <link rel="stylesheet" href="../../assets/css1/style.css"> -->

  <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar" class="active">
      <!-- <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
          <i class="fa fa-bars"></i>
          <span class="sr-only">Toggle Menu</span>
        </button>
      </div> -->
      <div class="p-4">
        <img src="../../assets/image/tahaluf_logo.png" alt="" width="100" height="70" class="ml-5">
        <h4 class="mt-3"><a href="index.html" class="logo">Admin Daashboard</a></h4>
        <ul class="list-unstyled components mb-5">
          <li class="active">
            <a href="#"><span class="fa fa-home mr-3"></span> Home</a>
          </li>
          <li>
              <a href="#"><span class="fa fa-user mr-3"></span> About</a>
          </li>
          <li>
            <a href="#"><span class="fa fa-briefcase mr-3"></span> Portfolio</a>
          </li>
          <li>
            <a href="#"><span class="fa fa-sticky-note mr-3"></span> Blog</a>
          </li>
          <li>
            <a href="#"><span class="fa fa-paper-plane mr-3"></span> Contact</a>
          </li>
        </ul>

        <!-- <div class="mb-5">
          <h3 class="h6 mb-3">Subscribe for newsletter</h3>
          <form action="#" class="subscribe-form">
            <div class="form-group d-flex">
              <div class="icon"><span class="icon-paper-plane"></span></div>
              <input type="text" class="form-control" placeholder="Enter Email Address">
            </div>
          </form>
        </div> -->

        <div class="footer">
          <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        </div>

      </div>
    </nav>

      <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 pt-5">

  <div style="display:flex; justify-content:center;">
    <div class="col-md-10 ">
      <div class="row ">
          <div class="col-xl-3 col-lg-6" >
              <div class="card l-bg-cherry">
                  <div class="card-statistic-3 p-4">
                      <div class="card-icon card-icon-large"><fa-icon class="fal" [icon]="faShoppingCart"></fa-icon></div>
                      <div class="mb-4">
                          <h5 class="card-title mb-0">New Orders</h5>
                      </div>
                      <div class="row align-items-center mb-2 d-flex">
                          <div class="col-8">
                              <h2 class="d-flex align-items-center mb-0">
                                  3,243
                              </h2>
                          </div>
                          <!-- <div class="col-4 text-right">
                              <span>12.5% <fa-icon [icon]="faArrowUp"></fa-icon></span>
                          </div> -->
                      </div>
                      <div class="progress mt-1 " data-height="8" style="height: 8px;">
                          <div class="progress-bar l-bg-cyan" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-xl-3 col-lg-6">
              <div class="card l-bg-blue-dark">
                  <div class="card-statistic-3 p-4">
                      <div class="card-icon card-icon-large"><fa-icon class="fal" [icon]="faUsers"></fa-icon></div>
                      <div class="mb-4">
                          <h5 class="card-title mb-0">Customers</h5>
                      </div>
                      <div class="row align-items-center mb-2 d-flex">
                          <div class="col-8">
                              <h2 class="d-flex align-items-center mb-0">
                                  15.07k
                              </h2>
                          </div>
                          <!-- <div class="col-4 text-right">
                              <span>9.23% <i class="fa fa-arrow-up"></i></span>
                          </div> -->
                      </div>
                      <div class="progress mt-1 " data-height="8" style="height: 8px;">
                          <div class="progress-bar l-bg-green" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-xl-3 col-lg-6">
              <div class="card l-bg-green-dark">
                  <div class="card-statistic-3 p-4">
                      <div class="card-icon card-icon-large"><fa-icon class="fal" [icon]="faTicketAlt"></fa-icon></div>
                      <div class="mb-4">
                          <h5 class="card-title mb-0">Ticket Resolved</h5>
                      </div>
                      <div class="row align-items-center mb-2 d-flex">
                          <div class="col-8">
                              <h2 class="d-flex align-items-center mb-0">
                                  578
                              </h2>
                          </div>
                          <!-- <div class="col-4 text-right">
                              <span>10% <i class="fa fa-arrow-up"></i></span>
                          </div> -->
                      </div>
                      <div class="progress mt-1 " data-height="8" style="height: 8px;">
                          <div class="progress-bar l-bg-orange" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-xl-3 col-lg-6">
              <div class="card l-bg-orange-dark">
                  <div class="card-statistic-3 p-4">
                      <div class="card-icon card-icon-large"><fa-icon class="fal" [icon]="faDollarSign"></fa-icon></div>
                      <div class="mb-4">
                          <h5 class="card-title mb-0">Revenue Today</h5>
                      </div>
                      <div class="row align-items-center mb-2 d-flex">
                          <div class="col-8">
                              <h2 class="d-flex align-items-center mb-0">
                                  $11.61k
                              </h2>
                          </div>
                          <!-- <div class="col-4 text-right">
                              <span>2.5% <i class="fa fa-arrow-up"></i></span>
                          </div> -->
                      </div>
                      <div class="progress mt-1 " data-height="8" style="height: 8px;">
                          <div class="progress-bar l-bg-cyan" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

   </div>

  </div>



  <div>
<!--
<div class="card">
<h5>Basic</h5>
<p-chart type="line" [data]="basicData" [options]="basicOptions"></p-chart>
</div> -->
  </div>
    </div>
  </div>





