:host ::ng-deep .tabview-custom i, :host ::ng-deep .tabview-custom span {
  vertical-align: middle;
}
:host ::ng-deep .tabview-custom span {
  margin: 0 0.5rem;
}
:host ::ng-deep .p-button {
  margin-right: 0.25rem;
}
:host ::ng-deep .p-tabview p {
  line-height: 1.5;
  margin: 0;
}

.card{
  /* padding-top: 5%; */
  padding: 5% 10% 10% 10%;
}

/* .row{
  justify-content: space-between;
} */



.card {
  height: 75%;
  background-color: #fff;
  border-radius: 10px;
  border: none;
  position: relative;
  margin-bottom: 30px;
  box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
}
.l-bg-cherry {
  /* background: linear-gradient(to right, #493240, #f09) !important; */
  background: linear-gradient(to right, #493240, #ff009930) !important;
  color: #fff;
}

.l-bg-blue-dark {
  /* background: linear-gradient(to right, #373b44, #4286f4) !important; */
   background: linear-gradient(to right, #373b44, #4286f447) !important;
  color: #fff;
}

.l-bg-green-dark {
  /* background: linear-gradient(to right, #0a504a, #38ef7d) !important; */
  background: linear-gradient(to right, #0a504a, #38ef7d9c) !important;
  color: #fff;
}

.l-bg-orange-dark {
  /* background: linear-gradient(to right, #a86008, #ffba56) !important; */
  background: linear-gradient(to right, #a86008, #ffba565c) !important;

  color: #fff;

}

.card .card-statistic-3 .card-icon-large .fas, .card .card-statistic-3 .card-icon-large .far, .card .card-statistic-3 .card-icon-large .fab, .card .card-statistic-3 .card-icon-large .fal {
  font-size: 110px;
}

.card .card-statistic-3 .card-icon {
  text-align: center;
  line-height: 50px;
  margin-left: 15px;
  color: #000;
  position: absolute;
  right: -5px;
  top: 20px;
  opacity: 0.1;
}

.l-bg-cyan {
  background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
  color: #fff;
}

.l-bg-green {
  background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%) !important;
  color: #fff;
}

.l-bg-orange {
  background: linear-gradient(to right, #f9900e, #ffba56) !important;
  color: #fff;
}

.l-bg-cyan {
  background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
  color: #fff;
}


/* .card2021{
  display: flex;
  justify-content: center;
} */



/* CRUD STYLE */



:host ::ng-deep .p-paginator .p-paginator-current {
  margin-left: auto;
}
:host ::ng-deep .p-progressbar {
  height: 0.5rem;
  background-color: #d8dadc;
}
:host ::ng-deep .p-progressbar .p-progressbar-value {
  background-color: #607d8b;
}
:host ::ng-deep .table-header {
  display: flex;
  justify-content: space-between;
}
:host ::ng-deep .p-calendar .p-datepicker {
  min-width: 25rem;
}
:host ::ng-deep .p-calendar .p-datepicker td {
  font-weight: 400;
}
:host ::ng-deep .p-datatable.p-datatable-customers .p-datatable-header {
  padding: 1rem;
  text-align: left;
  font-size: 1.5rem;
}
:host ::ng-deep .p-datatable.p-datatable-customers .p-paginator {
  padding: 1rem;
}
:host ::ng-deep .p-datatable.p-datatable-customers .p-datatable-thead > tr > th {
  text-align: left;
}
:host ::ng-deep .p-datatable.p-datatable-customers .p-datatable-tbody > tr > td {
  cursor: auto;
}
:host ::ng-deep .p-datatable.p-datatable-customers .p-dropdown-label:not(.p-placeholder) {
  text-transform: uppercase;
}
:host ::ng-deep .p-datatable-customers .p-datatable-tbody > tr > td .p-column-title {
  display: none;
}
@media screen and (max-width: 960px) {
  :host ::ng-deep .p-datatable.p-datatable-customers .p-datatable-thead > tr > th, :host ::ng-deep .p-datatable.p-datatable-customers .p-datatable-tfoot > tr > td {
    display: none !important;
 }
  :host ::ng-deep .p-datatable.p-datatable-customers .p-datatable-tbody > tr {
    border-bottom: 1px solid var(--layer-2);
 }
  :host ::ng-deep .p-datatable.p-datatable-customers .p-datatable-tbody > tr > td {
    text-align: left;
    display: block;
    border: 0 none !important;
    width: 100% !important;
    float: left;
    clear: left;
    border: 0 none;
 }
  :host ::ng-deep .p-datatable.p-datatable-customers .p-datatable-tbody > tr > td .p-column-title {
    padding: 0.4rem;
    min-width: 30%;
    display: inline-block;
    margin: -0.4rem 1rem -0.4rem -0.4rem;
    font-weight: bold;
 }
  :host ::ng-deep .p-datatable.p-datatable-customers .p-datatable-tbody > tr > td .p-progressbar {
    margin-top: 0.5rem;
 }
}

.search{
  background-color: #8a1525;
   border: #8a1525;
   border-radius: 2px;
   width: 50px;
   padding: 8px;
}

