<div class="wrapper d-flex align-items-stretch">

  <app-sidebar></app-sidebar>
  <div id="content" class="p-4 p-md-5 pt-5">

    <div style="display:flex; justify-content:center;">
      <div class="col-md-10 ">
        <div class="row ">
          <div class="col-xl-4 col-lg-6" >
            <div class="card l-bg-cherry">
                <div class="card-statistic-3 p-4">
                    <div class="card-icon card-icon-large"><fa-icon class="fal" [icon]="faShoppingCart"></fa-icon></div>
                    <div class="mb-4">
                        <h5 class="card-title mb-0">Sold Courses</h5>
                    </div>
                    <div class="row align-items-center mb-2 d-flex">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center mb-0">
                              # {{courseService.countOfSoldCourses}}
                            </h2>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="col-xl-4 col-lg-6">
            <div class="card l-bg-green-dark">
                <div class="card-statistic-3 p-4">
                    <div class="card-icon card-icon-large"><fa-icon class="fal" [icon]="faBook"></fa-icon></div>
                    <div class="mb-4">
                        <h5 class="card-title mb-0">Courses</h5>
                    </div>
                    <div class="row align-items-center mb-2 d-flex">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center mb-0">
                               # {{courseService.countOfCourses}}
                            </h2>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6">
            <div class="card l-bg-orange-dark">
                <div class="card-statistic-3 p-4">
                    <div class="card-icon card-icon-large"><fa-icon class="fal" [icon]="faDollarSign"></fa-icon></div>
                    <div class="mb-4">
                        <h5 class="card-title mb-0">Total Sales</h5>
                    </div>
                    <div class="row align-items-center mb-2 d-flex">
                        <div class="col-8">
                            <h2 class="d-flex align-items-center mb-0">
                              ${{courseService.totalSales}}
                            </h2>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        </div>




        <div class="col-md-12" #TABLE #table>
               <!-- Sold Courses -->
                <div class="card">

                  <div class="d-flex justify-content-end">
                    <fa-icon [icon]="faFileExcel" style="font-size: 2rem; margin-bottom: 1rem; margin-right: 20px; color: #115c34;" (click)="ExportTOExcel()"></fa-icon>
                    <fa-icon [icon]="faFilePdf" style="font-size: 2rem; margin-bottom: 1rem;" (click)="exportPdf()"></fa-icon>
                  </div>
                  <div class="d-flex" style="justify-content: space-between;">
                  <h3>Orders</h3>


                  <div>
                    <mat-form-field >
                      <mat-label>Enter a date range</mat-label>
                      <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate placeholder="Start date" [formControl]="startDate">
                        <input matEndDate placeholder="End date" [formControl]="endDate">
                      </mat-date-range-input>
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                    <!-- <button class="ml-2 search" (click)="filterSoldCourseBetweenDate()"><fa-icon [icon]="faSearch" style="font-size: 1rem; color: white;"></fa-icon>
                    </button> -->
                    <button class="filter" (click)="filterSoldCourseBetweenDate()">Search</button>
                    <button class="clear" (click)="clear()">Clear</button>

                  </div>

                </div>

                  <p-table [value]="courseService.soldCourse" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
                      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[5,10,15]">
                      <ng-template pTemplate="header">

                          <tr>

                              <th>Id</th>
                              <th>Image</th>
                              <th>Name</th>
                              <th>PhoneNumber</th>
                              <th>CourseName</th>
                              <th>CoursePrice</th>
                              <th>Date</th>
                          </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-course>

                          <tr>

                              <td>{{course.checkoutId}}</td>
                              <td><img src="{{course.traineeImage}}" alt="" width="100" height="100"></td>
                              <td>{{course.firstName}} {{course.lastName}}</td>
                              <td>{{course.phoneNumber}}</td>
                              <td>{{course.courseName}}</td>
                              <td>$ {{course.coursePrice}}</td>
                              <td>{{course.creationDate | dateFormat}}</td>


                          </tr>
                      </ng-template>
                      <ng-template pTemplate="paginatorleft">
                          <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
                      </ng-template>
                      <ng-template pTemplate="paginatorright">
                          <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
                      </ng-template>
                  </p-table>
              </div>
    <!--Sold Courses -->
        </div>


        <!-- <div class="col-md-12">
          <app-testmonial></app-testmonial>
        </div> -->
     </div>

    </div>



    <div>
    </div>
      </div>


    </div>

