.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
.example-radio-group {

  margin: 10px 15px 0;

}

#SelectStatus{
  margin: 0  0 15px 0;
  font-size: 16px;
}
/* .example-radio-button:active{
  color: red;
} */

fa-icon{
color: #af1a2d;
}

mat-dialog-actions button:enabled{
  background-color: #af1a2d;
   padding:5px;
   color:white
 }


 .mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: #af1a2d!important;
}
