

<div class="container" >
  <!-- <h2 class="mb-2">Create Section</h2> -->
  <div class="d-flex" style="justify-content: space-between;">
    <h3 class="mb-3" style="font-weight: bold; ">Create Section</h3>
    <fa-icon [icon]="faTimes" style="font-size: 30px;"  mat-dialog-close></fa-icon>
  </div>
  <div class="row">

    <form [formGroup] = "formGroup">
    <mat-dialog-content class="mat-typography">

    <div class="col">

      <div class="row">
        <div class="col">


            <mat-form-field class="example-full-width" >
              <mat-label>sectionCapacity</mat-label>
              <input type="number" matInput formControlName="sectionCapacity" min="1">
              <mat-error *ngIf="formGroup.controls.sectionCapacity.hasError('required')">
                sectionCapacity is <strong>required</strong>
              </mat-error>
            </mat-form-field>


        </div>
        <div class="col">
          <mat-form-field class="example-full-width" >
            <mat-label>noLecture</mat-label>
            <input type="number" matInput formControlName="noLecture" min="1">
            <mat-error *ngIf="formGroup.controls.noLecture.hasError('required')">
              noLecture is <strong>required</strong>
            </mat-error>
          </mat-form-field>

        </div>
      </div>

      <div class="row">
        <div class="col">


            <mat-form-field class="example-full-width">
              <mat-label>sectionTimeStart</mat-label>
              <input type="datetime-local" matInput formControlName="sectionTimeStart">
              <mat-error *ngIf="formGroup.controls.sectionTimeStart.hasError('required')">
                sectionTimeStart is <strong>required</strong>
              </mat-error>
            </mat-form-field>


        </div>
        <div class="col">
          <mat-form-field class="example-full-width">
            <mat-label>sectionTimeEnd</mat-label>
            <input type="datetime-local" matInput formControlName="sectionTimeEnd">
            <mat-error *ngIf="formGroup.controls.sectionTimeEnd.hasError('required')">
              sectionTimeEnd is <strong>required</strong>
            </mat-error>
          </mat-form-field>

        </div>
      </div>

      <div class="row">
        <div class="col">


          <mat-form-field >
            <mat-label>Course Name</mat-label>
            <mat-select formControlName="courseId">
                <mat-option *ngFor="let course of this.courseService.courses" [value]="course.courseId">
                    {{course.courseName}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="formGroup.controls.courseId.hasError('required')">
              Course Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>


        </div>
        <div class="col">
          <mat-form-field >
            <mat-label>Trainer</mat-label>
            <mat-select formControlName="trainerId">
                <mat-option *ngFor="let trainer of this.trainerService.trainer" [value]="trainer.employeeId">
                    {{trainer.fname}} {{trainer.lname}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="formGroup.controls.trainerId.hasError('required')">
              Trainer is <strong>required</strong>
            </mat-error>
          </mat-form-field>

        </div>
      </div>

      <div class="row">
        <div class="col mt-2">
          <!-- <fa-icon [icon]="faInfoCircle" style="color:#af1a2d;"></fa-icon> -->
          <label id="SelectStatus"> Status:</label>
          <mat-radio-group formControlName="statusId" aria-label="SelectStatus" class="example-radio-group">
            <mat-radio-button [value]="status.statusId" class="example-radio-button" *ngFor="let status of this.sectionService.status" >{{status.statusName}}</mat-radio-button>
            <!-- <mat-radio-button value="2">Option 2</mat-radio-button> -->
          </mat-radio-group>


        </div>


      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="example-full-width" style="width: 100%;">
            <mat-label>Metting URL</mat-label>
            <input type="text" matInput formControlName="meetingURL" min="1">
            <!-- <mat-error *ngIf="formGroup.controls.mettingURL.hasError('required')">
              MettingURL is <strong>required</strong>
            </mat-error> -->
          </mat-form-field>
        </div>
      </div>
    </div>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <!-- <button mat-button mat-dialog-close>Cancel</button> -->
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial [disabled]="!formGroup.valid" (click)="createSection()">Create</button>
  </mat-dialog-actions>
</form>

  </div>
</div>

