
       <div class="row">


        <div class="card">
          <div class="d-flex" style="justify-content: space-between;">
          <h3>Orders</h3>



          <div>
            <mat-form-field >
              <mat-label>Enter a date range</mat-label>
              <mat-date-range-input [rangePicker]="picker">
                <input matStartDate placeholder="Start date" [formControl]="startDate">
                <input matEndDate placeholder="End date" [formControl]="endDate">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
            <button class="ml-2 search" (click)="filterSoldCourseBetweenDate()"><fa-icon [icon]="faSearch" style="font-size: 1rem; color: white;"></fa-icon>
            </button>

            <!-- <mat-form-field>
              <mat-label>Year</mat-label>
              <mat-select  (selectionChange)="filterSoldCourse()" [formControl]="year">
                  <mat-option *ngFor="let year of availableYears" [value]="year.id">

                    {{year.id}}
                  </mat-option>
              </mat-select>
            </mat-form-field> -->
          </div>

        </div>

          <p-table [value]="courseService.soldCourse" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[5,10,15]">
              <ng-template pTemplate="header">

                  <tr>

                      <th>Id</th>
                      <th>Image</th>
                      <th>Name</th>
                      <th>PhoneNumber</th>
                      <th>CourseName</th>
                      <th>CoursePrice</th>
                      <th>Date</th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-course>

                  <tr>

                      <td>{{course.checkoutId}}</td>
                      <td><img src="{{course.traineeImage}}" alt="" width="100" height="100"></td>
                      <td>{{course.firstName}} {{course.lastName}}</td>
                      <td>{{course.phoneNumber}}</td>
                      <td>{{course.courseName}}</td>
                      <td>$ {{course.coursePrice}}</td>
                      <td>{{course.creationDate | date}}</td>


                  </tr>
              </ng-template>
              <ng-template pTemplate="paginatorleft">
                  <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
              </ng-template>
              <ng-template pTemplate="paginatorright">
                  <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
              </ng-template>
          </p-table>
      </div>

</div>
