<div class="wrapper d-flex align-items-stretch" style="background-color:#eee;">

  <app-side-bar></app-side-bar>
  <div id="content" class="p-4 p-md-5 pt-5" style="background-color:#f1f1f1; height: 100%; border-radius: 5px; width: 100%;">

    <div style="display:flex; justify-content:center;">
      <div class="col-md-10 ">
       <div class="row">


    <!-- Recent Messages -->



       <!-- Recent Messages -->
                <!-- ============================================================== -->
                <div class="card">
                  <div class="d-flex" style="justify-content: space-between;">
                  <h3>Orders</h3>

                  <!-- <mat-form-field class="example-form-field" appearance="fill">
                    <mat-label>First campaign</mat-label>
                    <mat-date-range-input
                      [formGroup]="campaignOne"
                      [rangePicker]="campaignOnePicker"
                      [comparisonStart]="campaignTwo.value.start"
                      [comparisonEnd]="campaignTwo.value.end">
                      <input matStartDate placeholder="Start date" formControlName="start">
                      <input matEndDate placeholder="End date" formControlName="end">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
                    <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
                  </mat-form-field> -->

                  <div>
                    <mat-form-field >
                      <mat-label>Enter a date range</mat-label>
                      <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate placeholder="Start date" [formControl]="startDate">
                        <input matEndDate placeholder="End date" [formControl]="endDate">
                      </mat-date-range-input>
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                    <button class="ml-2 search" (click)="filterSoldCourseBetweenDate()"><fa-icon [icon]="faSearch" style="font-size: 1rem; color: white;"></fa-icon>
                    </button>

                    <!-- <mat-form-field>
                      <mat-label>Year</mat-label>
                      <mat-select  (selectionChange)="filterSoldCourse()" [formControl]="year">
                          <mat-option *ngFor="let year of availableYears" [value]="year.id">

                            {{year.id}}
                          </mat-option>
                      </mat-select>
                    </mat-form-field> -->
                  </div>

                </div>
                  <!-- <mat-form-field>
                    <mat-label>Year</mat-label>
                    <mat-select  (selectionChange)="filterSoldCourse()" [formControl]="month">
                        <mat-option *ngFor="let year of availableMonth" [value]="month.id">

                          {{month.id}}
                        </mat-option>
                    </mat-select>
                  </mat-form-field> -->
                  <p-table [value]="courseService.soldCourse" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
                      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[5,10,15]">
                      <ng-template pTemplate="header">

                          <tr>
                            <!-- <th style="width: 3rem">
                              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                             </th> -->
                              <th>Id</th>
                              <th>Image</th>
                              <th>Name</th>
                              <th>PhoneNumber</th>
                              <th>CourseName</th>
                              <th>CoursePrice</th>
                              <th>Date</th>
                          </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-course>

                          <tr>

                              <td>{{course.checkoutId}}</td>
                              <td><img src="{{course.traineeImage}}" alt="" width="100" height="100"></td>
                              <td>{{course.firstName}} {{course.lastName}}</td>
                              <td>{{course.phoneNumber}}</td>
                              <td>{{course.courseName}}</td>
                              <td>$ {{course.coursePrice}}</td>
                              <td>{{course.creationDate | date}}</td>


                          </tr>
                      </ng-template>
                      <ng-template pTemplate="paginatorleft">
                          <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
                      </ng-template>
                      <ng-template pTemplate="paginatorright">
                          <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
                      </ng-template>
                  </p-table>
              </div>

            </div>
    <!-- Recent Messages -->


     </div>

    </div>



    <div>
    </div>
      </div>


    </div>
<!-- <h1>Welcome</h1> -->
