
  <div class="ud-body">
    <div class="msg-box">
      <ul *ngFor="let mObj of chatService.data" >
        <li *ngIf="mObj.sectionId==traineeService.CurrentTraineeSection" [ngClass]="mObj.userId === Userid ? 'in-msg rcorners2' : 'ex-msg rcorners1'">
          <div >
            {{mObj.date | date:'shortTime'}} &nbsp;
            {{mObj.traineeName}} :<br />
            <span class="">{{mObj.message}}</span>
          </div>
        </li>
      </ul>
    </div>
    <div class="ud-flex-row">
      <input type="text" placeholder="Type message here"  id="inputbox" class="msg-input" [(ngModel)]="msgDto"  />
      <button class="send-btn" (click)="send()"><i class="fa fa-paper-plane"></i> send</button>
    </div>
  </div>

