<div class="wrapper d-flex align-items-stretch"  style="background-color:#eee;">
  <app-sidebar></app-sidebar>
  <div class="container" >
  <!-- <div class="container ">
    <div class="row"> -->
      <div id="content" class="px-3 p-md-5 pt-5 mt-5" style="background-color:white; height: 100%; border-radius: 5px; width: 100%;">


        <div class="d-flex" style="justify-content:space-between;">
          <h2 class="mb-4">Manage Courses</h2>
          <!-- <button class="add"><i class="pi pi-plus" style="font-size: 2rem"></i></button>
          <button mat-fab color="primary">Warn</button> -->
          <button mat-fab color="primary" class="create" (click)="createCourse()" >
            <mat-icon>add</mat-icon>
          </button>
          <!-- <p-button icon="pi pi-plus" iconPos="right" class="p-button-success"></p-button> -->
          <!-- <button pButton pRipple type="button" label="Success" class="p-button-success"></button> -->
          <!-- <button pButton pRipple type="button" label="Create" class="p-button-rounded p-button-success"></button> -->

        </div>
      <div clas="card " style="display: flex;  flex-wrap: wrap;">
        <mat-tab-group mat-align-tabs="center"  style="width: 100%; display: flex; padding-bottom: 5rem;" >

          <mat-tab label="{{category.name}}" *ngFor="let category of categoryService.category" style="display: flex; padding-bottom: 5rem;">

          <ng-container  class="container">
               <div class="row">

              <!-- card start -->
                    <ng-container  *ngFor="let course of courseService.courses">
                      <ng-container class="course-card" *ngIf = "category.name == course.categoryName">

                  <div class="col-lg-3 col-md-4 col-sm-6 my-3 course-card" (click)="viewCourse(course.courseId)">
                    <div class="type"><span>{{course.typeName}}</span></div>
                      <div style="background-image:url(../../../assets/image/bg-2.jpg); background-repeat: no-repeat; background-size: cover;" class="course-card-img mt-2">
                        <!-- <img src="../../../assets/image/bg-2.jpg" height="150px" class="main" alt=""> -->
                        <!-- <img src="https://cdn.freebiesupply.com/logos/large/2x/sketch-2-logo-png-transparent.png" class="layered" alt=""> -->

                      </div>
                      <div class="course-card-content">
                        <h4>{{course.courseName}}</h4>


                          <h6>$ {{course.coursePrice}}</h6>

                          <!-- <div >
                          <fa-icon [icon]="faChartLine"></fa-icon><span>{{course.levelName}}</span>
                        </div> -->

                      </div>

                  </div>
                </ng-container>

                </ng-container>


              <!-- card end -->
          </div>
          </ng-container>
          </mat-tab>

        </mat-tab-group>


      </div>







    </div>
    </div>
    </div>
  <!-- <p-paginator [rows]="10" [totalRecords]="120" [rowsPerPageOptions]="[10,20,30]"></p-paginator> -->



  <!-- </div>
</div> -->


<!-- p-card -->

