<div class="wrapper d-flex align-items-stretch">
<app-sidebar></app-sidebar>

<div id="content" class="p-4 p-md-5 pt-5">
<div clas="card" style="display: flex;">
  <mat-card>
    <mat-card-title>Course Name</mat-card-title>
    <!-- <mat-card-subtitle>End</mat-card-subtitle> -->
    <mat-card-content>

      <div class="card-item p-2">
        <img src="../../../assets/image/bg-2.jpg" alt="" width="200" height="150">

        <div class="pt-2 pl-2">
          <div>
            <fa-icon [icon]="faBook"></fa-icon><span class="pl-2 pr-3">categoryName</span>
            <fa-icon [icon]="faTag" clas="pl-3"></fa-icon><span class="pl-2 pt-2">course.tagName</span>
          </div >
          <!-- <div class="pt-3">
            <fa-icon [icon]="faTag" ></fa-icon><span class="pl-2 pt-2">course.tagName</span>
          </div> -->
          <div class="pt-3">
            <fa-icon [icon]="faChartLine"></fa-icon><span class="pl-2 pt-2 pr-3">course.levelName</span>
            <fa-icon [icon]="faCalendar" clas="pl-3"></fa-icon><span class="pl-2 pt-2">course.levelName</span>

          </div>
          <!-- <div class="pt-3">
            <fa-icon [icon]="faCalendar" ></fa-icon><span class="pl-2 pt-2">course.levelName</span>
          </div> -->

          <div class="pt-3">
            <fa-icon [icon]="faDollarSign"></fa-icon><span class="pl-2 pt-2 pr-3">course.price</span>
            <fa-icon [icon]=" faPercentage" clas="pl-3"></fa-icon><span class="pl-2 pt-2">course.price</span>
          </div>
          <!-- <div class="pt-3">
            <fa-icon [icon]=" faPercentage" ></fa-icon><span class="pl-2 pt-2">course.price</span>

          </div> -->
        </div>



    </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button>Update</button>
      <button mat-button>View</button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-title>Course Name</mat-card-title>
    <!-- <mat-card-subtitle>End</mat-card-subtitle> -->
    <mat-card-content>

      <div class="card-item p-2">
        <img src="../../../assets/image/bg-2.jpg" alt="" width="200" height="150">

        <div class="pt-2 pl-2">
          <div>
            <fa-icon [icon]="faBook"></fa-icon><span class="pl-2 pr-3">categoryName</span>
            <fa-icon [icon]="faTag" clas="pl-3"></fa-icon><span class="pl-2 pt-2">course.tagName</span>
          </div >
          <!-- <div class="pt-3">
            <fa-icon [icon]="faTag" ></fa-icon><span class="pl-2 pt-2">course.tagName</span>
          </div> -->
          <div class="pt-3">
            <fa-icon [icon]="faChartLine"></fa-icon><span class="pl-2 pt-2 pr-3">course.levelName</span>
            <fa-icon [icon]="faCalendar" clas="pl-3"></fa-icon><span class="pl-2 pt-2">course.levelName</span>

          </div>
          <!-- <div class="pt-3">
            <fa-icon [icon]="faCalendar" ></fa-icon><span class="pl-2 pt-2">course.levelName</span>
          </div> -->

          <div class="pt-3">
            <fa-icon [icon]="faDollarSign"></fa-icon><span class="pl-2 pt-2 pr-3">course.price</span>
            <fa-icon [icon]=" faPercentage" clas="pl-3"></fa-icon><span class="pl-2 pt-2">course.price</span>
          </div>
          <!-- <div class="pt-3">
            <fa-icon [icon]=" faPercentage" ></fa-icon><span class="pl-2 pt-2">course.price</span>

          </div> -->
        </div>



    </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button>Update</button>
      <button mat-button>View</button>
    </mat-card-actions>
  </mat-card>
</div>
</div>


</div>
