<mat-dialog-content class="mat-typography">

  <div class="form" style="margin-top:50px">
    <form>

      <div class="wrapper d-flex align-items-stretch">

        <app-sidebar></app-sidebar>

        <div class="container" id="pdfTable" #pdfTable>
          <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
              <h2 class="heading-section">Trainee Info</h2>
            </div>
          </div>
      
          <div class="d-flex justify-content-end">
            <fa-icon [icon]="faFileExcel"
              style="font-size: 2rem; margin-bottom: 1rem; margin-right: 20px; color: #115c34;" (click)="ExportTOExcel()">
            </fa-icon>
            <fa-icon [icon]="faFilePdf" style="font-size: 2rem; margin-bottom: 1rem;" (click)="exportPdf()"></fa-icon>
            
            <button mat-fab color="warning" style="  position: absolute;
              top:24%;
              right: 85%;
              width: 78px;
              color:cornsilk;
              background-color: rgb(202, 11, 11);
              transform: translateY(-50%);" class="create" (click)="AddTrainee()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
  
        
          <!-- <div>
            <input #mindate class="form-control" type="date" [max]="maxDate" (change)="MinDateVal(mindate.value)">
            <input #maxdate class="form-control" type="date" [min]="minDate" (change)="MaxDateVal(maxdate.value)">
          </div> -->


          <div class="row">
            <div class="col-md-12">
              <div class="table-wrap">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="filterTerm">
                </div>
                <!-- <input type="button" value="Download PDF" class="btn btn-success" (click)="SavePDF()">   -->
                <table class="table table-responsive-xl"  id="pdfTable" #pdfTable
                  class="table table-striped table-bordered table-sm row-border hover" >
                  <thead>
                    <tr>
                      <th>&nbsp;</th>
                      <th>Nationality</th>
                      <th>Image</th>
                      <th>UserName</th>
                      <th>Email</th>
                      <th>Phone</th>
                      <th>Status</th>
                      <th>&nbsp;</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="alert" role="alert" *ngFor="let trainee of Servicetrainee.trainee | filter:filterTerm">
                      <td>
                        <label class="checkbox-wrap checkbox-primary">
                          <input type="checkbox" checked>
                          <span class="checkmark"></span>
                        </label>
                      </td>
                      <td>{{trainee.nationality}} </td>
                      <td>

                        <img class="img" src="{{trainee.imageName}}" width="30%" height="30%">
                      </td>
                      <td>{{trainee.firstName}} {{trainee.lastName}}</td>

                      <td>{{trainee.email}}</td>
                      <td>{{trainee.phoneNumber}}</td>
                      <td class="status">

                        <span class="active" *ngIf="trainee.isActive" (click)="ChangeTraineeStatus(trainee.traineeId)">
                          {{trainee.isActive}}
                        </span>
                        <span class="error" *ngIf="!trainee.isActive" (click)="ChangeTraineeStatus(trainee.traineeId)">
                          {{trainee.isActive}}
                        </span>
                      </td>
                      <td>

                        <!-- <button mat-flat-button
                          style="  border-radius: 20%;color:white;background-color :green; width:20%;height: 30%;"
                          (click)="UpdateTrainee(trainee.traineeId)">
                          Edit
                        </button>
                        <button mat-flat-button
                          style="  border-radius: 20%;color:white;background-color :rgb(202, 29, 29);"
                          (click)="DeleteTrainee(trainee.traineeId)">
                          Delete
                        </button> -->
                        <div>

                          <fa-icon [icon]="faedit" 
                            style="font-size: 2rem; margin-bottom: 0.5rem; margin-right: 20px; color: #0d4b2a;"
                            (click)="UpdateTrainee(trainee.traineeId)">
                          </fa-icon>
                        </div>
                        <div>
                          <fa-icon [icon]="fatrash"
                            style="font-size: 2rem; margin-bottom: 1rem; margin-right: 20px; color: #881212;"
                            (click)="DeleteTrainee(trainee.traineeId)">
                          </fa-icon>
                        </div>

                      </td>


                    </tr>



                  </tbody>
                </table>

              </div>
            </div>
          </div>
        </div>
      </div>
    
    </form>
  
  </div>
</mat-dialog-content>