.input{
  background-color: transparent!important;
}
#file{
  color: #af1a2d;
  /* padding: 0.5rem; */
}
 fa-icon{
  color: #af1a2d;
}


input#file-upload-button{
  background-color: #af1a2d!important;
  border: none!important;
}

.example-full-width {
  width: 100%;
}


mat-dialog-actions button:enabled{
  background-color: #af1a2d;
   padding:5px;
   color:white
 }


 /* Upload Image */


.dragBox {
  /* width: 250px;
  height: 100px; */
  width: 300px;
  height: 250px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  font-weight: bold;
  line-height: 95px;
  color: #999;
  border: 2px dashed #ccc;
  display: inline-block;
  transition: transform 0.3s;
}
.dragBox input[type="file"] {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  top: 0;
  left: 0;
}
.draging {
  transform: scale(1.1);
}
#preview {
  text-align: center;
}
#preview img {
  max-width: 100%;
}
