<div class="container cards">
  <div class="card mx-auto">
      <div class="row">
          <div class="logo ml-3 mb-3"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTxDRpxI5gXgaVmnO-VgcVUNOkca91jIpS75Flbzkz5W_5g5_V5&usqp=CAU"></div>
          <div class="header right"><i class="fas fa-ellipsis-h"></i></div>
      </div>
      <div class="card-title">
          <p class="heading">Exam Information &nbsp;<i class="far fa-compass"></i></p>
      </div>
      <div class="row btnrow my-4">
        <div class="col-4 col-md-3"><button type="button" class="btn btn-outline-success btn-sm" style="background: #00ff002b;"> Duration</button></div>
        <div class="col-4 col-md-3"><button type="button" class="btn btn-outline-primary btn-sm" style="background: #007bff33;">Mark</button></div>
        <div class="col-4 col-md-3"><button type="button" class="btn btn-outline-danger btn-sm" style="background: #dc35452e;">Weight</button></div>
    </div>
      <div class="row btnrow my-4">
          <div class="col-4 col-md-3"><button type="button" class="btn btn-outline-success btn-sm" style="background: #00ff002b;"> 30 Minutes</button></div>
          <div class="col-4 col-md-3"><button type="button" class="btn btn-outline-primary btn-sm" style="background: #007bff33;">   {{this.mySectionService.singleSectionExam.mark}}</button></div>
          <div class="col-4 col-md-3"><button type="button" class="btn btn-outline-danger btn-sm" style="background: #dc35452e;">   {{this.mySectionService.singleSectionExam.weight}}</button></div>
      </div>
      <div class="mutual"><i class="fas fa-users"></i>&nbsp;&nbsp;
        <span>This Exam Is Contains Of 25 Multiple Choice Question
          For Each Question Select One Answer
        </span></div>
      <div class="row btnsubmit mt-4">
          <div class="col-md-6 col-6"> <button type="button" class="btn btn-primary btn-lg"
            (click)="StartExam(this.mySectionService.singleSectionExam.examId)"
            ><span>Start Exam</span></button> </div>
            <div class="offset-md-2 col-md-4 col-4">
              <button type="button" class="btn btn-outline-danger"
               style="border-radius:15px ;"
              mat-dialog-close><span>Close</span></button> </div>

      </div>
  </div>
</div>
