<div class="container cards">
  <div class="card mx-auto">
      <div class="row">
          <div class="logo ml-3 mb-3"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTxDRpxI5gXgaVmnO-VgcVUNOkca91jIpS75Flbzkz5W_5g5_V5&usqp=CAU"></div>
          <div class="header right"><i class="fas fa-ellipsis-h"></i></div>
      </div>
      <div class="card-title">
          <p class="heading">Angular Exam&nbsp;<i class="far fa-compass"></i></p>
      </div>
      <p class="text-muted">
        exam description<br>
        ,<br>
      </p>
      <div class="row btnrow my-4">
          <div class="col-4 col-md-3"><button type="button" class="btn btn-outline-success btn-sm" style="background: #00ff002b;">Durtion</button></div>
          <div class="col-4 col-md-3"><button type="button" class="btn btn-outline-primary btn-sm" style="background: #007bff33;">Mark</button></div>
          <div class="col-4 col-md-3"><button type="button" class="btn btn-outline-danger btn-sm" style="background: #dc35452e;">weight</button></div>
      </div>
      <div class="mutual"><i class="fas fa-users"></i>&nbsp;&nbsp;<span>200 Students will Applay this</span></div>
      <div class="row btnsubmit mt-4">
          <div class="col-md-6 col-6"> <button type="button" class="btn btn-primary btn-lg"><span>Start Exam</span></button> </div>

      </div>
  </div>
</div>
