

.form-control:focus {
  box-shadow: none;
  border-color: #BA68C8
}

.profile-button {
  background: rgb(99, 39, 120);
  box-shadow: none;
  border: none
}

.profile-button:hover {
  background: #682773
}

.profile-button:focus {
  background: #682773;
  box-shadow: none
}

.profile-button:active {
  background: #682773;
  box-shadow: none
}

.back:hover {
  color: #682773;
  cursor: pointer
}
.rounded-circle{
  border-radius: 50%;
  height: 190px;
  width: 190px;
  margin-bottom: 25px;
}
.labels {
  font-size: 11px
}

.add-experience:hover {
  background: #af1a2d;
  color: #fff;
  text-align: center;
  float: right;
  cursor: pointer;
  border: solid 1px #af1a2d
}
