<div class="wrapper d-flex align-items-stretch" style="background-color:#eee;">

  <app-side-bar></app-side-bar>
  <div id="content" class="p-4 p-md-5 pt-5" style="background-color:white; height: 100%; border-radius: 5px; width: 100%;">

    <div style="display:flex; justify-content:center; margin-left: 10rem;">
      <div class="col-md-10">
       <div class="row">
<!-- ******************************************** -->


<mat-tab-group mat-align-tabs="center"  style="width: 100%; display: flex; padding-bottom: 5rem;" >

  <mat-tab label="Sales" style="display: flex; padding-bottom: 5rem;">

    <div class="col-md-12">
      <app-sales></app-sales>
    </div>
  </mat-tab>


  <mat-tab label="Refund" style="display: flex; padding-bottom: 5rem;">

    <div class="col-md-12">
      <app-courserefund></app-courserefund>
    </div>
  </mat-tab>

</mat-tab-group>

<!-- ******************************************** -->





        </div>



     </div>

    </div>



    <div>
    </div>
      </div>


    </div>
<!-- <h1>Welcome</h1> -->
