<head>
  <meta charset="UTF-8">
  <title color="primary"> dashboard </title>
  <!-- Boxicons CDN Link -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="sidebar">
      <div class="logo-details" (click)="btnclicked()">
          <i class='bx bxl-c-plus-plus icon' style="color:#8a1525"></i>
          <div class="logo_name">
            <img class="pt-2 mr-4" src="../../../assets/image/tahaluf_logo.png" alt="" width="100" height="70">
          </div>
          <i class='bx bx-menu' id="btn"></i>
      </div>
      <ul class="nav-list">
          <li>
              <i class='bx bx-search'></i>
              <input type="text" placeholder="Search...">
              <span class="tooltip">Search</span>
          </li>
          <li>
              <a routerLink="/admin">
                  <i class='bx bx-grid-alt'></i>
                  <span class="links_name">Section Dashboard</span>
              </a>
              <span class="tooltip">Section Dashboard</span>
          </li>
          <li>
              <a href="#">
                  <i class='bx bx-user'></i>
                  <span class="links_name">User</span>
              </a>
              <span class="tooltip">User</span>
          </li>
          <li>
              <a href="#">
                  <i class='bx bx-chat'></i>
                  <span class="links_name">Messages</span>
              </a>
              <span class="tooltip">Messages</span>
          </li>
          <li>
              <a href="#">
                  <i class='bx bx-pie-chart-alt-2'></i>
                  <span class="links_name">Analytics</span>
              </a>
              <span class="tooltip">Analytics</span>
          </li>
          <li>
              <a href="#">
                  <i class='bx bx-folder'></i>
                  <span class="links_name">File Manager</span>
              </a>
              <span class="tooltip">Files</span>
          </li>
          <li>
              <a routerLink="/admin/category" routerLinkActive="active">
                  <i class='bx bx-bookmark'></i>
                  <span class="links_name">Categories</span>
              </a>
              <span class="tooltip">Categories</span>
          </li>
          <li>
              <a routerLink="/admin/course" routerLinkActive="active">
                  <i class='bx bx-book-alt'></i>
                  <span class="links_name">Courses</span>
              </a>
              <span class="tooltip">Courses</span>
          </li>
          <li>
              <a routerLink="/admin/topic" routerLinkActive="active">
                  <i class='bx bx-book-content'></i>
                  <span class="links_name">Topics</span>
              </a>
              <span class="tooltip">Topics</span>
          </li>

          <li>
              <a routerLink="/admin/section" routerLinkActive="active">
                  <i class='bx bx-code'></i>
                  <span class="links_name">Sections</span>
              </a>
              <span class="tooltip">Sections</span>
          </li>
          <li class="profile">
              <div class="profile-details">
                  <img src="../../../assets/image/profile.png" alt="profileImg">
                  <div class="name_job" style="color:white">
                      Accountant
                  </div>
              </div>
              <i class='bx bx-log-out' id="log_out"></i>
          </li>
      </ul>
  </div>

</body>
