
<div id="contentToConvert">

<div class="outer-border">
  <img src="../../../assets/image/tahaluf_logo.png" width="90" height="90" alt="">
  <div class="inner-dotted-border">
    <span class="certification">Certificate of Completion</span> <br><br>
     <span class="certify"><i>This is to certify that</i></span> <br><br>
     <span class="name"><b>TraineeName</b></span><br /><br />
      <span class="certify"><i>has successfully completed the certification</i></span> <br /><br />
      <span class="fs-30">Course Name</span> <br /><br />
      <span class="fs-20">with Mark  94<b>/100</b></span> <br /><br /><br /><br />
      <span class="certify"><i>Date</i></span><br> <span class="fs-30">23 March,2022</span>
  </div>
</div>
</div>

<button (click)="print()">
  Print
</button>

