<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<section >
  <div class="container my-5 py-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12 col-lg-10">
        <div class="card text-dark">
          <div class="card-body p-4">
            <div class="row">
              <div class="col-9">
                <h4 class="mb-0">Recent comments</h4>
                <p class="fw-light mb-4 pb-2">Latest Comments section by users</p>
              </div>
              <div class="col-3 buttons">
                <button class="btn-hover color-10" (click)="AddComent()">Add Comment</button>
              </div>
            </div>




          <hr class="my-0" style="height: 1px;" />

          <div class="card-body p-4">
            <div class="d-flex flex-start">
              <img
                class="rounded-circle shadow-1-strong me-3"
                src="https://mdbootstrap.com/img/Photos/Avatars/img%20(33).jpg"
                alt="avatar"
                width="60"
                height="60"
              />
              <div>
                <h6 class="fw-bold mb-1">Alexa Bennett</h6>
                <div class="d-flex align-items-center mb-3">
                  <p class="mb-0">
                    March 24, 2021

                  </p>

                </div>
                <p class="mb-0">
                  There are many variations of passages of Lorem Ipsum available, but the
                  majority have suffered alteration in some form, by injected humour, or
                  randomised words which don't look even slightly believable. If you are
                  going to use a passage of Lorem Ipsum, you need to be sure.
                </p>
              </div>
            </div>
          </div>

          <hr class="my-0" />

          <div class="card-body p-4">
            <div class="d-flex flex-start">
              <img
                class="rounded-circle shadow-1-strong me-3"
                src="https://mdbootstrap.com/img/Photos/Avatars/img%20(24).jpg"
                alt="avatar"
                width="60"
                height="60"
              />
              <div>
                <h6 class="fw-bold mb-1">Betty Walker</h6>
                <div class="d-flex align-items-center mb-3">
                   <p class="mb-0">
                    March 30, 2021

                  </p>
                </div>
                <p class="mb-0">
                  It uses a dictionary of over 200 Latin words, combined with a handful of
                  model sentence structures, to generate Lorem Ipsum which looks
                  reasonable. The generated Lorem Ipsum is therefore always free from
                  repetition, injected humour, or non-characteristic words etc.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
